force-app/main/default/flows/Activer_Candidature.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Mise_jour_current_selection_Program_code_EN</name>
        <label>Mise à jour current selection Program code EN</label>
        <locationX>333</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>currentProgramSelectionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentSelProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProduit_de_candidature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mise_jour_current_selection_Program_code_FR</name>
        <label>Mise à jour current selection Program code FR</label>
        <locationX>50</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>currentProgramSelectionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SELEMBAFR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProduit_de_candidature</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>filterRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Programme Long Diplômant</stringValue>
        </value>
    </constants>
    <constants>
        <description>identifiant Salesforce du compte Sans organisation connue</description>
        <name>idSansOrgaConnue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001w000001B6SPvAAN</stringValue>
        </value>
    </constants>
    <constants>
        <name>valTypeProduitSelection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Selection</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Vérifier si une session a déjà été saisie sur le produit d&apos;opportunité actuel</description>
        <name>Aucune_Session_Saisie_0</name>
        <label>Aucune Session Saisie</label>
        <locationX>542</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Saisir_la_Session_de_Formation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Session_d_j_renseign_e_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_lection_Valeur_actuelle_par_d_faut_0</targetReference>
            </connector>
            <label>Session déjà renseignée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Session_for_this_program_0</name>
        <label>Exists Session for this program</label>
        <locationX>707</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>getProduit_de_candidature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Sessions_Disponibles_pour_ce_programme_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteAuMoinsUneSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aucune_Session_Saisie_0</targetReference>
            </connector>
            <label>Sessions Disponibles pour ce programme</label>
        </rules>
    </decisions>
    <decisions>
        <name>existsProduct</name>
        <label>existsProduct</label>
        <locationX>1220</locationX>
        <locationY>1077</locationY>
        <defaultConnector>
            <targetReference>Erreur_Aucun_Produit_d_opportunit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Il_existe_un_Produit_d_opportunit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCandidatureProduct</targetReference>
            </connector>
            <label>Il existe un Produit d&apos;opportunité</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exite_t_il_Programme_de_candidature</name>
        <label>Exite t-il Programme de candidature</label>
        <locationX>718</locationX>
        <locationY>1174</locationY>
        <defaultConnector>
            <targetReference>Erreur_Aucun_Programme_de_candidature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Il_existe_un_Programme_de_Candidature_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCandidatureProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SessionsDisponiblesDuProgramme_0</targetReference>
            </connector>
            <label>Il existe un Programme de Candidature</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_candidature_est_elle_d_j_activ_e</name>
        <label>La candidature est-elle déjà activée</label>
        <locationX>153</locationX>
        <locationY>1808</locationY>
        <defaultConnector>
            <targetReference>produit_candidature_programme_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>La_candidature_est_d_j_activ_e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentExistingCandidatureId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidature_d_j_activ_e</targetReference>
            </connector>
            <label>La candidature est déjà activée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_si_produit_de_candidature</name>
        <label>Test si produit de candidature</label>
        <locationX>1323</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Message_Erreur_Candidature_d_j_activ_e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>N_est_pas_un_produit_de_candidature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopProductOpportunities.Type_produit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>valTypeProduitSelection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopProductOpportunities</targetReference>
            </connector>
            <label>N&apos;est pas un produit de candidature</label>
        </rules>
    </decisions>
    <decisions>
        <name>V_rifier_existence_de_sessions_de_s_lection</name>
        <label>Vérifier existence de sessions de sélection</label>
        <locationX>480</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Ajouter_Produit_de_Candidature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Il_existe_au_moins_une_session_de_s_lection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existeSessionsdeSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saisir_la_Session_de_selection</targetReference>
            </connector>
            <label>Il existe au moins une session de sélection</label>
        </rules>
    </decisions>
    <decisions>
        <name>V_rifier_si_EMBA_Fran_ais</name>
        <label>Vérifier si EMBA Français</label>
        <locationX>218</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Mise_jour_current_selection_Program_code_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>C_est_un_EMBA_Fran_ais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentSessionName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>français</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mise_jour_current_selection_Program_code_FR</targetReference>
            </connector>
            <label>C&apos;est un EMBA Français</label>
        </rules>
    </decisions>
    <description>Sert à activer la candidature sur les produits Executive Diplômants</description>
    <dynamicChoiceSets>
        <name>currentAccount</name>
        <dataType>String</dataType>
        <displayField>AccountId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>Opportunity</object>
        <valueField>AccountId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pour initialiser la valeur par défaut des choix de session lorsqu&apos;une valeur a déjà été saisie sur le poste d&apos;opportunité. La valeur par défaut de cette liste est initialisée avec la session actuellement saisie dans le poste opportunité.</description>
        <name>lstDefaultSession</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSession</elementReference>
            </value>
        </filters>
        <limit>1</limit>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>selectedSession</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>lstSelectionSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCandidatureProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SF-SS20</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <sortField>Exercice_fiscale__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Liste des sessions pour le programme actuel</description>
        <name>lstSessions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_debut_de_session__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Aujourdhui</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>currentSession</elementReference>
            </value>
        </filters>
        <filters>
            <field>Produits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProductId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>selectedSession</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Aujourdhui</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>currentSelProductCode</name>
        <dataType>String</dataType>
        <expression>IF({!currentProductCode}=&quot;DUAV2&quot;,&quot;SELDUA&quot;,
IF({!currentProductCode}=&quot;OCA&quot;,&quot;SELOA&quot;,
IF({!currentProductCode}=&quot;PGMONLINE&quot;,&quot;SELPGMO&quot;,&quot;SEL&quot;+{!currentProductCode})))</expression>
    </formulas>
    <interviewLabel>Activer Candidature {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activer Candidature</label>
    <loops>
        <name>loopProductOpportunities</name>
        <label>Loop on Product Opportunities</label>
        <locationX>863</locationX>
        <locationY>602</locationY>
        <collectionReference>curProduitsOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_si_produit_de_candidature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getProduitOpportunite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Ajouter_Produit_de_Candidature</name>
        <label>Ajouter Produit de Candidature</label>
        <locationX>657</locationX>
        <locationY>2742</locationY>
        <connector>
            <targetReference>Mettre_jour_le_compte_sur_l_opportunit</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ouverture_candidature__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>currentCandidatureProgramId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_de_formation__c</field>
            <value>
                <elementReference>CboSession_selection</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Récupérer et stocker l&apos;id du produit de candidature équivalent au type de programme courant afin de pouvoir ensuite rajouter à la fin du process la candidature</description>
        <name>getCandidatureProduct</name>
        <label>getCandidatureProduct</label>
        <locationX>988</locationX>
        <locationY>1204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exite_t_il_Programme_de_candidature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSelProductCode</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>currentCandidatureProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>codeProgrammeCandidature</assignToReference>
            <field>ProductCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPostesOpportunites</name>
        <label>getPostesOpportunites</label>
        <locationX>1015</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProductOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>curProduitsOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type_produit__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProduit_de_candidature</name>
        <label>Obtenir Produit de candidature</label>
        <locationX>152</locationX>
        <locationY>1618</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_candidature_est_elle_d_j_activ_e</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProgramSelectionCode</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>currentExistingCandidatureId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProduitOpportunite</name>
        <label>getProduitOpportunite</label>
        <locationX>1038</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existsProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>currentAccountId</assignToReference>
            <field>Compte_opportunite__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentProductCode</assignToReference>
            <field>ProductCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentSession</assignToReference>
            <field>Session_de_formation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getSessionName</name>
        <label>getSessionName</label>
        <locationX>282</locationX>
        <locationY>835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>V_rifier_si_EMBA_Fran_ais</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedSession</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>currentSessionName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>produit_candidature_programme_selection</name>
        <label>produit candidature programme selection</label>
        <locationX>143</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SessionsDisponiblesDuProgramme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProgramSelectionCode</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>currentCandidatureProgramId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_les_sessions_de_s_lection</name>
        <label>Rechercher les sessions de sélection</label>
        <locationX>738</locationX>
        <locationY>2192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>V_rifier_existence_de_sessions_de_s_lection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentCandidatureProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SF-SS20</stringValue>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>existeSessionsdeSelection</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Récupérer les sessions disponibles du programme pour tester ensuite la nécessité d&apos;afficher ou non la liste déroulante des sessions.</description>
        <name>SessionsDisponiblesDuProgramme</name>
        <label>SessionsDisponiblesDuProgramme</label>
        <locationX>443</locationX>
        <locationY>2184</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_debut_de_session__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Aujourdhui</elementReference>
            </value>
        </filters>
        <filters>
            <field>Produits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProductId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>ExisteAuMoinsUneSession</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Récupérer les sessions disponibles du programme pour tester ensuite la nécessité d&apos;afficher ou non la liste déroulante des sessions.</description>
        <name>SessionsDisponiblesDuProgramme_0</name>
        <label>SessionsDisponiblesDuProgramme</label>
        <locationX>717</locationX>
        <locationY>832</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_Session_for_this_program_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_debut_de_session__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Aujourdhui</elementReference>
            </value>
        </filters>
        <filters>
            <field>Produits__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProductId</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <outputAssignments>
            <assignToReference>ExisteAuMoinsUneSession</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Changer_Statut_Opportunit_Prospect_Probable</name>
        <label>Changer Statut Opportunité à Prospect Probable</label>
        <locationX>574</locationX>
        <locationY>3190</locationY>
        <connector>
            <targetReference>Affichage_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect probable</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prospect chaud</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Admis</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pré inscrit</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inscrit</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Intégré</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospect probable</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si l&apos;opportunité ne possède pas de compte renseigné, on met à jour le champ nom de compte pour affecter par défaut l&apos;opportunité sur le compte &quot;Sans organisation connue&quot;, cela permettra ensuite de pouvoir changer le statut opportunité sans se récolter d&apos;erreur, car le champ &quot;Nom du compte&quot; est obligatoire.</description>
        <name>Mettre_jour_le_compte_sur_l_opportunit</name>
        <label>Mettre à jour le compte sur l&apos;opportunité</label>
        <locationX>580</locationX>
        <locationY>2933</locationY>
        <connector>
            <targetReference>Changer_Statut_Opportunit_Prospect_Probable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>idSansOrgaConnue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Mettre à jour la session sur le produit d&apos;opportunité en fonction de ce qui a été choisi au niveau de la liste de sélection.</description>
        <name>Update_Session</name>
        <label>Update Session</label>
        <locationX>740</locationX>
        <locationY>2069</locationY>
        <connector>
            <targetReference>Rechercher_les_sessions_de_s_lection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProductId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Session_de_formation__c</field>
            <value>
                <elementReference>selectedSession</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <description>Mettre à jour la session sur le produit d&apos;opportunité en fonction de ce qui a été choisi au niveau de la liste de sélection.</description>
        <name>Update_Session_0</name>
        <label>Update Session</label>
        <locationX>128</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>getSessionName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentProductId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Session_de_formation__c</field>
            <value>
                <elementReference>selectedSession</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>Affichage_Message</name>
        <label>Affichage Message</label>
        <locationX>574</locationX>
        <locationY>3443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;CANDIDATURE ACTIVEE&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le produit de sélection &lt;/span&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!codeProgrammeCandidature}  &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;a été ajouté, le statut de l&apos;opportunité marqué &quot;Prospect probable&quot; et la Candidature est désormais marquée Ouverte !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidature_d_j_activ_e</name>
        <label>Candidature déjà activée</label>
        <locationX>423</locationX>
        <locationY>1932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>erreur_message</name>
            <fieldText>&lt;p&gt;Existe déjà&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erreur_Aucun_Produit_d_opportunit</name>
        <label>Erreur Aucun Produit d&apos;opportunité</label>
        <locationX>1540</locationX>
        <locationY>1381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoProductMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;ERREUR&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Il n&apos;y a actuellement &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;aucun produit de programme&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; sur cette opportunité. Veuillez rajouter un Produit de programme afin de pouvoir ensuite en activer la candidature.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Erreur_Aucun_Programme_de_candidature</name>
        <label>Erreur Aucun Programme de candidature</label>
        <locationX>955</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_erreur_Aucun_Produit_Selection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;ERREUR&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Il n&apos;existe aucun produit de sélection pour ce Programme, l&apos;activation de candidature n&apos;est pas disponible sur ce type de produit !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Erreur_Candidature_d_j_activ_e</name>
        <label>Message Erreur Candidature déjà activée</label>
        <locationX>1501</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>candidature_deja_active</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;ERREUR&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La candidature &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!loopProductOpportunities.ProductCode} existe déjà et&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; a donc déjà été activée sur ce produit . Veuillez supprimer le produit &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;de candidature&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!loopProductOpportunities.ProductCode} &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;actuel si vous souhaitez réactiver la candidature.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_lection_Valeur_actuelle_par_d_faut_0</name>
        <label>Saisie Session avec Valeur actuelle par défaut</label>
        <locationX>158</locationX>
        <locationY>318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Session_0</targetReference>
        </connector>
        <fields>
            <name>CboSession_with_default_0</name>
            <choiceReferences>lstDefaultSession</choiceReferences>
            <choiceReferences>lstSessions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Session de programme sur laquelle candidate le prospect :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisir_la_Session_de_Formation_0</name>
        <label>Saisir la Session de Formation</label>
        <locationX>335</locationX>
        <locationY>591</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Session_0</targetReference>
        </connector>
        <fields>
            <name>CboSession_0</name>
            <choiceReferences>lstSessions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Session de programme sur laquelle candidate le prospect :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisir_la_Session_de_selection</name>
        <label>Saisir la Session de Formation</label>
        <locationX>798</locationX>
        <locationY>2479</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ajouter_Produit_de_Candidature</targetReference>
        </connector>
        <fields>
            <name>CboSession_selection</name>
            <choiceReferences>lstSelectionSessions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choisissez la session de frais de sélection à appliquer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>464</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPostesOpportunites</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>codeProgrammeCandidature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collPostesOpps</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curProduitsOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentCandidatureProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stocke l&apos;id poste opportunité d&apos;une candidature déjà existante. Cela permet de faire afficher un message d&apos;erreur si une candidature est déjà saisie sur cette opportunité.</description>
        <name>currentExistingCandidatureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentProgramSelectionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>currentSelProductCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentSessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExisteAuMoinsUneSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existeSessionsdeSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isCandidatureProgram</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAllProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>lstProduits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>parentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>id de la session de frais de sélection</description>
        <name>selSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
