force-app/main/default/flows/Compte_Programme_Academique_Envoi_email_pour_relecture_programme.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send_Email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Academic_Program</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>EmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>EmailRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X1w000000qNdREAU</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Add_1_reminder</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Get_AcademicProgram.SIS_Reminders_Number__c},0)+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EmailRecipient</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.SIS_Program_responsible__r.Email}</expression>
    </formulas>
    <formulas>
        <name>EmailRecipientId</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.SIS_Program_responsible__c}</expression>
    </formulas>
    <formulas>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.Id}</expression>
    </formulas>
    <interviewLabel>[Compte Programme Academique]Envoi email pour relecture programme {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Compte Programme Academique]Envoi email pour relecture programme</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AcademicProgram</name>
        <label>Get_AcademicProgram</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcademicProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Academic_Program</name>
        <label>Update_Academic_Program</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcademicProgramId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_Last_Reminder__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Reminders_Number__c</field>
            <value>
                <elementReference>Add_1_reminder</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AcademicProgram</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcademicProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
