force-app/main/default/flows/Compte_programme_acad_mique_Tache_et_email_responsable_de_programme_Revision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Task_After_Rejection</name>
        <label>New_Task_After_Rejection</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Send_Email_Relecture</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SIS_Program_responsible__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Task_Description_After_Submission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Subject_After_Submission</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Task_Responsible_Program</name>
        <label>New_Task_Responsible_Program</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Send_Email_Relecture</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SIS_Program_responsible__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Desicion_Revision_Before_Of_After_Submission</name>
        <label>Desicion_Revision_Before_Of_After_Submission</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>New_Task_Responsible_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Before_Submission</defaultConnectorLabel>
        <rules>
            <name>Before_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SIS_Program_Validation_Submitted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task_After_Rejection</targetReference>
            </connector>
            <label>After_Submission</label>
        </rules>
    </decisions>
    <description>Création d&apos;une tâche et envoi d&apos;un email au responsable de programme lorsque le nouveau programme académique est basculé en statut &quot;Révision&quot;.

Lié au workflow d&apos;approbation des programmes.</description>
    <environments>Default</environments>
    <formulas>
        <name>Add_One_Reminders_Number</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SIS_Reminders_Number__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; en cours de création à compléter&apos;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <interviewLabel>[Compte programme académique]Tâche et email responsable de programme - Revision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Compte programme académique]Tâche responsable de programme - Revision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Desicion_Revision_Before_Of_After_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Program_responsible__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Révision</stringValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Program_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Validated_by_responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Validated_by_QAR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Program_Validation_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Relecture</name>
        <label>Send_Email_Relecture</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <flowName>Compte_Programme_Academique_Envoi_email_pour_relecture_programme</flowName>
        <inputAssignments>
            <name>AcademicProgramId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Task_Description_After_Submission</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Le programme {!$Record.Name} vient refusé. Merci de modifier le programme en fonction des commentaires avant de le soumettre à nouveau pour approbation.</text>
    </textTemplates>
    <textTemplates>
        <name>Task_Subject_After_Submission</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.SIS_Official_name__c} vient d&apos;être rejeté en validation et doit être modifié.</text>
    </textTemplates>
    <textTemplates>
        <name>TaskDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Le programme {!$Record.Name} vient d&apos;être mis en révision. Merci de remplir les éléments correspondants dans le programme {!$Record.Name} puis de le soumettre pour approbation.</text>
    </textTemplates>
</Flow>
