force-app/main/default/flows/Compte_programme_acad_mique_Email_responsable_de_programme_pour_saisie_des_infor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send_Email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_setTreatTargetObjectAsRecipient</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Modele_Texte</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>EmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>setTreatTargetObjectAsRecipient</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>AcademicProgramId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>Retour_Ligne</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>EmailRecipient</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.SIS_Program_responsible__r.Email}</expression>
    </formulas>
    <formulas>
        <name>EmailRecipientId</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.SIS_Program_responsible__c}</expression>
    </formulas>
    <formulas>
        <name>Linebreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <expression>{!Get_AcademicProgram.Id}</expression>
    </formulas>
    <interviewLabel>[Compte programme académique]Email responsable de programme pour saisie des informations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Compte programme académique]Email responsable de programme pour saisie des informations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AcademicProgram</name>
        <label>Get_AcademicProgram</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AcademicProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AcademicProgram</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Modele_Texte</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour {!Get_AcademicProgram.SIS_Program_responsible__c},{!Retour_Ligne}
Le cours {!Get_AcademicProgram.SIS_Official_name__c} vient de basculer en révision. Merci de compléter les informations manquantes puis ensuite le soumettre en approbation en suivant ce lien : https://arpege-emlyon--emsisuat.sandbox.lightning.force.com/lightning/r/Account/{!Get_AcademicProgram.Id}/view
{!Get_AcademicProgram.Id}.{!Retour_Ligne}
Cordialement.</text>
    </textTemplates>
    <variables>
        <name>AcademicProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
