force-app/main/default/flows/Conversion_automatique_de_piste_Site_Internet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Conversion_piste</name>
        <label>Conversion piste</label>
        <locationX>645</locationX>
        <locationY>65</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>Rechercher_la_piste_sf.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Canal_d_acquisition_du_Contact</name>
        <label>Canal d&apos;acquisition du Contact</label>
        <locationX>379</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>par_Site_internet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>R_cup_Contact.Nature_du_premier_contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site internet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechercher_la_piste_sf</targetReference>
            </connector>
            <label>par Site internet</label>
        </rules>
    </decisions>
    <decisions>
        <name>RT_Piste</name>
        <label>RT Piste</label>
        <locationX>636</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>RT_ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rechercher_la_piste_sf.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sur_Mesure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rechercher_la_piste_sf.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formation_courte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rechercher_la_piste_sf.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rechercher_la_piste_sf.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Programme_Long_Diplomant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conversion_piste</targetReference>
            </connector>
            <label>RT ok</label>
        </rules>
    </decisions>
    <interviewLabel>Conversion automatique de piste - Site Internet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversion automatique de piste - Site Internet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>R_cup_Contact</name>
        <label>Récup Contact</label>
        <locationX>163</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Canal_d_acquisition_du_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_central__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Rechercher_la_piste_sf</name>
        <label>Rechercher la piste sf</label>
        <locationX>640</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Piste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>R_cup_Contact.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>31</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>R_cup_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_central__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Provenance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site internet</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
