force-app/main/default/flows/Cours_MAJ_Automatique_du_code_de_la_categorie_pedagogique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Decision_Modele_de_cours_associe</name>
        <label>Decision_Modele_de_cours_associe</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Modele_De_Cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Modele_De_Cours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Course_Offering</targetReference>
            </connector>
            <label>Has_Modele_De_Cours</label>
        </rules>
    </decisions>
    <description>Flux déclenché à la création d&apos;un cours. Celui-ci cherche si un modèle de cours est associé à celui-ci et duplique alors la valeur de picklist &quot;Code de la catégorie pédagogique&quot; du modèle de cours dans la même picklist sur le cours.</description>
    <environments>Default</environments>
    <interviewLabel>[Cours]MAJ Automatique du code de la catégorie pédagogique après création si modèle de cours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cours]MAJ Automatique du code de la catégorie pédagogique après création si modèle de cours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Modele_De_Cours</name>
        <label>Get_Modele_De_Cours</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Modele_de_cours_associe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update_Course_Offering</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>SIS_Pedagogical_Code__c</field>
            <value>
                <elementReference>Get_Modele_De_Cours.SIS_Pedagogical_Category_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Modele_De_Cours</targetReference>
        </connector>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
