force-app/main/default/flows/Cours_Flux_de_s_lection_de_l_tape_de_modification_du_syllabus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribution_Step_Select</name>
        <label>Attribution_Step_Select</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Step_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_Selection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Selected_Step</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter_LO</name>
        <choiceText>Ajouter les LO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Step_LO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Competences</name>
        <choiceText>Ajouter les compétences du cours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Competences</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connaissances</name>
        <choiceText>Ajouter les connaissances du cours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connaissances</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heures_Apprentissage</name>
        <choiceText>Ajout des heures d&apos;apprentissage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heures</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modalites</name>
        <choiceText>Ajouter les modalités d&apos;évaluation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modalites</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modifier_Cours</name>
        <choiceText>Modifier le cours&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Step1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Objectifs</name>
        <choiceText>Compléter les objectifs pédagogiques</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Objectifs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ressources</name>
        <choiceText>Ajouter les ressources bibliographiques</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ressources</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sequences</name>
        <choiceText>Ajouter les séquences du cours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sequences</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Selected_Step</name>
        <label>Decision_Selected_Step</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Step1_Modifier_Cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modifier_Cours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Creation</targetReference>
            </connector>
            <label>Step1_Modifier_Cours</label>
        </rules>
        <rules>
            <name>Step_2_Ajouter_LO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ajouter_LO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_LO</targetReference>
            </connector>
            <label>Step_2_Ajouter_LO</label>
        </rules>
        <rules>
            <name>Step3_Heures</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Heures_Apprentissage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Hours</targetReference>
            </connector>
            <label>Step3_Heures</label>
        </rules>
        <rules>
            <name>Step4_Objectifs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Objectifs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Objectifs</targetReference>
            </connector>
            <label>Step4_Objectifs</label>
        </rules>
        <rules>
            <name>Step5_Connaissances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Connaissances</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Know</targetReference>
            </connector>
            <label>Step5_Connaissances</label>
        </rules>
        <rules>
            <name>Step6_Competences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Competences</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Skills</targetReference>
            </connector>
            <label>Step6_Competences</label>
        </rules>
        <rules>
            <name>Step7_Modalites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Modalites</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Modalites</targetReference>
            </connector>
            <label>Step7_Modalites</label>
        </rules>
        <rules>
            <name>Step8_Sequences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sequences</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Sequences</targetReference>
            </connector>
            <label>Step8_Sequences</label>
        </rules>
        <rules>
            <name>Step9_Ressources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_Selected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ressources</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Ressources</targetReference>
            </connector>
            <label>Step9_Ressources</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Cours]Flux de sélection de l&apos;étape de modification du syllabus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cours]Flux de sélection de l&apos;étape de modification du syllabus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cours</name>
        <label>Get_Cours</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Ask_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Ask_Step</name>
        <label>Screen_Ask_Step</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Step_Select</targetReference>
        </connector>
        <fields>
            <name>Ask_Which_Step_Needed</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Quel(s) élément(s) souhaitez-vous modifier ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Selection</name>
            <choiceReferences>Modifier_Cours</choiceReferences>
            <choiceReferences>Heures_Apprentissage</choiceReferences>
            <choiceReferences>Ajouter_LO</choiceReferences>
            <choiceReferences>Objectifs</choiceReferences>
            <choiceReferences>Connaissances</choiceReferences>
            <choiceReferences>Competences</choiceReferences>
            <choiceReferences>Modalites</choiceReferences>
            <choiceReferences>Sequences</choiceReferences>
            <choiceReferences>Ressources</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Creation</name>
        <label>Step_Creation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <flowName>Cours_Creation_syllabus</flowName>
        <inputAssignments>
            <name>Came_from_decision_Boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Course_Offering_Record</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Hours</name>
        <label>Step_Hours</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Create_Learning_Hour</flowName>
        <inputAssignments>
            <name>Came_from_decision_boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId_Course</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Know</name>
        <label>Step_Know</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Create_Course_Knowledge</flowName>
        <inputAssignments>
            <name>Came_from_decision_boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_LO</name>
        <label>Step_LO</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Attribuer_les_LO</flowName>
        <inputAssignments>
            <name>Came_from_decision_boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Modalites</name>
        <label>Step_Modalites</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Creation_modalite_et_liaison_competences</flowName>
        <inputAssignments>
            <name>Came_from_decision_Boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Objectifs</name>
        <label>Step_Objectifs</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_MAJ_Objectifs_pedagogiques</flowName>
        <inputAssignments>
            <name>Came_from_decision_boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Ressources</name>
        <label>Step_Ressources</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Ajouter_des_ressources_bibliographiques</flowName>
        <inputAssignments>
            <name>Record_Course_Offering</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Sequences</name>
        <label>Step_Sequences</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Creation_Sequence_et_association_Ressource</flowName>
        <inputAssignments>
            <name>Came_from_decision_Boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Course_Id</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Step_Skills</name>
        <label>Step_Skills</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <flowName>Generation_Syllabus_Create_Course_Skills</flowName>
        <inputAssignments>
            <name>Came_from_Decision_Boolean</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cours</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Check_If_Came_From_Direct_Step_Flow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Course_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
