force-app/main/default/flows/Course_Knowledge_Creation_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttributionBlankCourseKnowledge</name>
        <label>AttributionBlankCourseKnowledge</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCourseKnowledge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionCourseKnowledge</name>
        <label>AttributionCourseKnowledge</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Outcome_Type__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Connaissance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCourseKnowledge</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionGetCourseKnowledge</name>
        <label>DecisionGetCourseKnowledge</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenCourseKnowledgeCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseKnowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseKnowledge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseKnowledge</targetReference>
            </connector>
            <label>HasCourseKnowledge</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SIS_After_this_course_participants_know</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_After_this_course_participants_know}</expression>
    </formulas>
    <formulas>
        <name>SIS_Knowledge_acquired_during_this_course</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Knowledge_acquired_during_the_course}</expression>
    </formulas>
    <interviewLabel>Course Knowledge Creation Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cours]Course Knowledge Creation Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCourseKnowledge</name>
        <label>CreateCourseKnowledge</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>AttributionBlankCourseKnowledge</targetReference>
        </connector>
        <inputReference>CourseKnowledge</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCourseKnowledge</name>
        <label>GetCourseKnowledge</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetCourseKnowledge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connaissance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenCourseKnowledge</name>
        <label>ScreenCourseKnowledge</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCourseKnowledgeCreation</targetReference>
        </connector>
        <fields>
            <name>ScreenSIS_Knowledge_acquired_during_this_course</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Knowledge_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextScreenCourseKnowledge</name>
            <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_know}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DatatableCourseKnowledge</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Course_Skill__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Course_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetCourseKnowledge</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>SIS_Label__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>SIS_Label__c:715</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Créer connaissance du cours</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseKnowledgeCreation</name>
        <label>ScreenCourseKnowledgeCreation</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AttributionCourseKnowledge</targetReference>
        </connector>
        <fields>
            <name>TextScreenCreateCourseKnowledge</name>
            <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_know}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>CourseKnowledge.SIS_Label__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseKnowledge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseKnowledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
