force-app/main/default/flows/Cours_Codification_du_cours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribute_Unique_Course_Code</name>
        <label>Attribute_Unique_Course_Code</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Discipline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Code_Categorie_Pedagogique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Code_Cours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Niveau_du_cours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Langue_enseignement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_of_children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_Unique_Course_Code_Count_Under_10</name>
        <label>Attribute_Unique_Course_Code_Count_Under_10</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Discipline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Code_Categorie_Pedagogique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Code_Cours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Niveau_du_cours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Langue_enseignement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Count_of_children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Blank</name>
        <label>Attribution_Blank</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribute_Unique_Course_Code_Count_Under_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Blank_2</name>
        <label>Attribution_Blank_2</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.SIS_Unique_Course_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribute_Unique_Course_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Count</name>
        <label>Attribution_Count</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Count_of_children</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Course_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Count_Under_10</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Count_Under_10</name>
        <label>Decision_Count_Under_10</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Attribution_Blank_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Count_is_under_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_children</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_Blank</targetReference>
            </connector>
            <label>Count_is_under_10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Course</name>
        <label>Decision_Has_Course</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Course_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Modele_de_cours</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Children</targetReference>
            </connector>
            <label>Has_Course_Model</label>
        </rules>
    </decisions>
    <description>Flow qui permet de codifier le cours en utilisant plusieurs champs du cours et du modèle de cours.
Chaque élément est coupé après 2 caractères et concaténé dans le code cours.</description>
    <environments>Default</environments>
    <formulas>
        <name>Code_Categorie_Pedagogique</name>
        <dataType>String</dataType>
        <expression>LEFT( TEXT ({!$Record.SIS_Pedagogical_Code__c}) , 5)</expression>
    </formulas>
    <formulas>
        <name>Code_Cours</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.hed__Course__r.SIS_Course_code__c} , 4)</expression>
    </formulas>
    <formulas>
        <name>Count_Plus_One</name>
        <dataType>Number</dataType>
        <expression>{!Count_of_children}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count_Plus_One_Under_10</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Discipline</name>
        <dataType>String</dataType>
        <expression>LEFT( TEXT( {!$Record.SIS_Course_discipline__c}), 2)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Langue_enseignement</name>
        <dataType>String</dataType>
        <expression>LEFT( TEXT({!$Record.SIS_Course_language_teaching_code__c}) , 2 )</expression>
    </formulas>
    <formulas>
        <name>Niveau_du_cours</name>
        <dataType>String</dataType>
        <expression>LEFT ( TEXT( {!$Record.SIS_Cours_Level__c}), 2 )</expression>
    </formulas>
    <interviewLabel>[Cours]Codification du cours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cours]Codification du cours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Children</name>
        <label>Get_Course_Children</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Modele_de_cours.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Modele_de_cours</name>
        <label>Get_Modele_de_cours</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Course</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.hed__Course__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Blank</name>
        <label>Update_Blank</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Modele_de_cours</targetReference>
        </connector>
        <inputAssignments>
            <field>SIS_Unique_Course_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Code</name>
        <label>Update_Course_Code</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>SIS_Unique_Course_Code__c</field>
            <value>
                <elementReference>$Record.SIS_Unique_Course_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Blank</targetReference>
        </connector>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Count_of_children</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
