force-app/main/default/flows/Cours_Generation_du_syllabus_en_brouillon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateSyllabus</name>
        <label>GenerateSyllabus</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>gnx__DocumentGenerationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Log_Validated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>outputWanted</name>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Picklist_Langue</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GenerateSyllabus_Not_Validated</name>
        <label>GenerateSyllabus_Not_Validated</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>gnx__DocumentGenerationInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Log_Gonexa_Not_Validated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>outputWanted</name>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Picklist_Langue_Not_Validated</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Picklist_English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a1p1w0000055HbbAAE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Picklist_French</name>
        <choiceText>Français</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a1p1w0000055HbWAAU</stringValue>
        </value>
    </choices>
    <choices>
        <name>Picklist_Validated_English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a1p1w0000055HQdAAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Picklist_Validated_French</name>
        <choiceText>Français</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a1p1w0000054pwuAAA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Etat_Avancement_Syllabus</name>
        <label>Decision_Etat_Avancement_Syllabus</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_Langage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EtatAvancementValidated</defaultConnectorLabel>
        <rules>
            <name>EtatAvancementNotValidated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course.SIS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Course.SIS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Select_Langage_Not_Validated</targetReference>
            </connector>
            <label>EtatAvancementNotValidated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Cours]Generation du syllabus en brouillon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cours]Generation du syllabus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get_Course</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Etat_Avancement_Syllabus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Log_Gonexa_Not_Validated</name>
        <label>Get_Log_Gonexa_Not_Validated</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Version_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GenerateSyllabus_Not_Validated</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Document_generation_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Log_Validated</name>
        <label>Get_Log_Validated</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Validated_Syllabus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GenerateSyllabus</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>gnx__Document_generation_log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Validated_Syllabus</name>
        <label>Get_Validated_Syllabus</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Display_Validated_Syllabus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Log_Validated.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Version_0</name>
        <label>Get_Version</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Display_Syllabus_Not_Validated_Generated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Log_Gonexa_Not_Validated.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Display_Syllabus_Not_Validated_Generated</name>
        <label>Screen_Display_Syllabus_Not_Validated_Generated</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Document_Not_Validated</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Get_Log_Gonexa_Not_Validated.gnx__generated_document_id__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquez pour visualiser le brouillon&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Display_Validated_Syllabus</name>
        <label>Screen_Display_Validated_Syllabus</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Validated_Document</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!Get_Log_Validated.gnx__generated_document_id__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquez pour visualiser le syllabus&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Langage</name>
        <label>Screen_Select_Langage</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerateSyllabus</targetReference>
        </connector>
        <fields>
            <name>Generate_Syllabus</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Générer le syllabus&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Langage_Valid</name>
            <fieldText>&lt;p&gt;Sélectionnez la langue du document :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklist_Langue</name>
            <choiceReferences>Picklist_Validated_French</choiceReferences>
            <choiceReferences>Picklist_Validated_English</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Langue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Langage_Not_Validated</name>
        <label>Screen_Select_Langage_Not_Validated</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GenerateSyllabus_Not_Validated</targetReference>
        </connector>
        <fields>
            <name>Generate_Draft</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Générer un brouillon&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Langage_0</name>
            <fieldText>&lt;p&gt;Sélectionnez la langue du document :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklist_Langue_Not_Validated</name>
            <choiceReferences>Picklist_French</choiceReferences>
            <choiceReferences>Picklist_English</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Langue</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Course_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
