force-app/main/default/flows/Formulaire_candidature_portail_em_lyon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>hed_Citizenship_c</name>
        <choiceText>hed__Citizenship__c</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>hed__Citizenship__c</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>LST_DiplomeAnneedobtention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Annee_du_diplome__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LST_filiere</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Filiere__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LST_langue_pays</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_LST_Langue__c</picklistField>
        <picklistObject>hed__Contact_Language__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LST_mention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Mention__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LST_pays</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_LST_Langue__c</picklistField>
        <picklistObject>hed__Contact_Language__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaitriseLinguistique</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hed__Fluency__c</picklistField>
        <picklistObject>hed__Contact_Language__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationalite_1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hed__Citizenship__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationalite_2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hed__Dual_Citizenship__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>nationalitedudiplome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Nationalite_du_diplome__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>niveaududiplome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Diplome_niveau__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>niveauetude</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Degree_sought__c</picklistField>
        <picklistObject>hed__Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>programmedemande</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Programme_auquel_vous_postulez__c</picklistField>
        <picklistObject>hed__Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_civilite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_diplome_niveau</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Diplome_niveau__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_Mention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Mention__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_nationalite1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>hed__Citizenship__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_pays_de_passation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Pays_de_passation__c</picklistField>
        <picklistObject>hed__Test__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_titredudiplome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Titre_du_diplome__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEL_Type_amenagement_concours_necessaire</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Type_damenagement_concours_necessair__c</picklistField>
        <picklistObject>hed__Application__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Test_langue__c</picklistField>
        <picklistObject>hed__Contact_Language__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>titrediplome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Titre_du_diplome__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typedetablissement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SIS_Type_d_etablissement__c</picklistField>
        <picklistObject>hed__Education_History__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Formulaire candidature portail em lyon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formulaire candidature portail em lyon</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cr_ation_de_test</name>
        <label>création de test</label>
        <locationX>708</locationX>
        <locationY>2034</locationY>
        <connector>
            <targetReference>candidature_programme</targetReference>
        </connector>
        <inputAssignments>
            <field>SIS_Test_de_management__c</field>
            <value>
                <elementReference>Test_de_management</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Test_Date__c</field>
            <value>
                <elementReference>Date_de_test</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Test_Type__c</field>
            <value>
                <stringValue>Test de management</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Test__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createDossierdeCandidature</name>
        <label>createDossierdeCandidature</label>
        <locationX>266</locationX>
        <locationY>2361</locationY>
        <connector>
            <targetReference>Fin</targetReference>
        </connector>
        <inputAssignments>
            <field>Mobilisation_CPF__c</field>
            <value>
                <elementReference>Mobilisation_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Amenagement_concours_necessaire__c</field>
            <value>
                <elementReference>Amenagement_concours_necessaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Avez_vous_deja_candidate_au_PGE__c</field>
            <value>
                <elementReference>Avez_vous_deja_candidat_au_PGE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Bourse_CROUS__c</field>
            <value>
                <elementReference>Bourse_CROUS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Campus__c</field>
            <value>
                <elementReference>Campus.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Compte_Professionnel_Formation_CPF__c</field>
            <value>
                <elementReference>Compte_personnel_de_formation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Demande_de_bourse_individuelle__c</field>
            <value>
                <elementReference>demande_de_bourse_individuelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Financement_entreprise__c</field>
            <value>
                <elementReference>Financement_entreprise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Financement_personnel__c</field>
            <value>
                <elementReference>Financement_personnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Lien_vers_le_site_du_CPF__c</field>
            <value>
                <elementReference>liens_vers_le_site_du_CPF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Program_Plan__c</field>
            <value>
                <elementReference>Session.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Programmes_hors_emlyon_pr_sent_s__c</field>
            <value>
                <elementReference>Programmes_hors_emlyon_presentes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Temporarily_or_permanently_disabled__c</field>
            <value>
                <elementReference>Are_you_temporarily_or_permanently_disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Type_damenagement_concours_necessair__c</field>
            <value>
                <elementReference>Type_damnagement_du_concours_n_cessaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Validation_sur_l_honneur__c</field>
            <value>
                <elementReference>Validation_sur_l_honneur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_montant_CPF_mobilise_en_TTC__c</field>
            <value>
                <elementReference>Quel_est_le_montant_CPF_mobilis_en_TTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Applicant__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Applying_To__c</field>
            <value>
                <elementReference>getAccountProgramme.Id</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createLanguedecontact</name>
        <label>createLanguedecontact</label>
        <locationX>584</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Programme</targetReference>
        </connector>
        <inputAssignments>
            <field>SIS_Date_de_test__c</field>
            <value>
                <elementReference>Date_de_tests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_LST_Langue__c</field>
            <value>
                <elementReference>LST_Langue_liste</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Test_langue__c</field>
            <value>
                <elementReference>Test1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Fluency__c</field>
            <value>
                <elementReference>Maitriselinguistique1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Primary_Language__c</field>
            <value>
                <elementReference>Languematernelle</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Contact_Language__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createParcoursAcademique</name>
        <label>createParcoursAcademique</label>
        <locationX>584</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Sejour_linguistique</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121w0000007g1w</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Annee_du_diplome__c</field>
            <value>
                <elementReference>Diplome_Annee_d_obtention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Diplome_intitule__c</field>
            <value>
                <elementReference>Intitule_du_diplome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Nationalite_du_diplome__c</field>
            <value>
                <elementReference>nationalitedudiplome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Type_d_etablissement__c</field>
            <value>
                <elementReference>Type_d_etablissement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Ville__c</field>
            <value>
                <elementReference>Ville_etablissement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Educational_Institution_Name__c</field>
            <value>
                <elementReference>Nom_etablissement</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Education_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createSejourLinguistique</name>
        <label>createSejourLinguistique</label>
        <locationX>584</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Langues</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121w0000007g1y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_LST_Pays__c</field>
            <value>
                <elementReference>LST_Pays_langue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Ville__c</field>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__End_Date__c</field>
            <value>
                <elementReference>Date_de_fin_de_sejour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Start_Date__c</field>
            <value>
                <elementReference>Date_de_debut_de_sejour</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Education_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccountProgramme</name>
        <label>getAccountProgramme</label>
        <locationX>1121</locationX>
        <locationY>1809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateContactBBA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programmedemande1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Informations_du_candidat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>MAJ_contact</name>
        <label>MAJ_contact</label>
        <locationX>707</locationX>
        <locationY>721</locationY>
        <connector>
            <targetReference>Diplome2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SIS_Prenom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>telephone_domicile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SIS_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linkedin__c</field>
            <value>
                <elementReference>Linkedin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Site_personnel__c</field>
            <value>
                <elementReference>URL_Site_personnel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>SIS_Civilite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Citizenship__c</field>
            <value>
                <elementReference>Nationalite1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Dual_Citizenship__c</field>
            <value>
                <elementReference>Nationalit2</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>421</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>MAJ_contact</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactBBA</name>
        <label>updateContactBBA</label>
        <locationX>371</locationX>
        <locationY>1921</locationY>
        <connector>
            <targetReference>ecran_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_Email_parent_1__c</field>
            <value>
                <elementReference>Emailparent1.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Email_parent_2__c</field>
            <value>
                <elementReference>EmailParent2.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>candidature_programme</name>
        <label>candidature programme</label>
        <locationX>997</locationX>
        <locationY>2219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Financement</targetReference>
        </connector>
        <fields>
            <name>Avez_vous_candidat_un_programme_hors_emlyon</name>
            <dataType>Boolean</dataType>
            <fieldText>Avez-vous candidaté à un programme hors emlyon ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>candidature_programme_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>candidature_programme_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Programmes_hors_emlyon_presentes</name>
                    <dataType>String</dataType>
                    <fieldText>Programmes hors emlyon présentés</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Avez_vous_candidat_un_programme_hors_emlyon</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Avez_vous_deja_candidat_au_PGE</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Avez-vous déjà candidaté au PGE ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_temporarily_or_permanently_disabled</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Are you temporarily or permanently disabled, or with a disabling medical condition?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Amenagement_concours_necessaire</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Avez vous besoin d&apos;un aménagement concours nécessaire ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_damnagement_du_concours_n_cessaire</name>
                    <choiceReferences>SEL_Type_amenagement_concours_necessaire</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&apos;aménagement du concours nécessaire</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Amenagement_concours_necessaire</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Validation_sur_l_honneur</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Validation sur l&apos;honneur de l&apos;exactitude des éléments de la candidature</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Coordonnees</name>
        <label>Coordonnées</label>
        <locationX>584</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Documents_d_identite</targetReference>
        </connector>
        <fields>
            <name>Titre_coordonnees</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Veuillez renseigner vos coordonnées :&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getContact.MailingAddress</objectFieldReference>
        </fields>
        <fields>
            <name>Coordonnees_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coordonnees_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.Adresse_Email_Personnelle__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Coordonnees_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>telephone_domicile</name>
                    <dataType>String</dataType>
                    <fieldText>Téléphone fixe</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Diplome2</name>
        <label>Diplome</label>
        <locationX>584</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createParcoursAcademique</targetReference>
        </connector>
        <fields>
            <name>Diplome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Quel est votre dernier diplôme ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Diplome2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diplome2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intitule_du_diplome</name>
                    <dataType>String</dataType>
                    <fieldText>Intitulé du diplôme</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Nationalit_du_diplome</name>
                    <choiceReferences>nationalitedudiplome</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origine du diplôme</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diplome2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diplome_Annee_d_obtention</name>
                    <choiceReferences>LST_DiplomeAnneedobtention</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Année d&apos;obtention du diplôme</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Diplome2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Diplome2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_etablissement</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&apos;établissement</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_d_etablissement</name>
                    <choiceReferences>typedetablissement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&apos;établissement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Diplome2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ville_etablissement</name>
                    <dataType>String</dataType>
                    <fieldText>Ville établissement</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Documents_d_identite</name>
        <label>Documents d&apos;identité</label>
        <locationX>584</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <fields>
            <name>Documentsdidentite</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Documents d&apos;identité&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Documents_d_identite_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Documents_d_identite_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CNI</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Carte nationale d&apos;identité&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Numero_de_la_carte_d_identite__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Lieu_de_delivrance_carte_d_identite__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Date_de_delivrance_carte_d_identite__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Date_de_peremption_carte_d_identite__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Photo_CNI</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Carte nationale d&apos;identité recto/verso</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .PDF</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Format_cni</name>
                    <fieldText>&lt;p&gt;Formats autorisés pour la carte d&apos;identité : Jpeg, Pdf&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Documents_d_identite_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Passeport</name>
                    <fieldText>&lt;p&gt;Passeport&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Numero_de_passeport__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Lieu_de_delivrance_du_passeport__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Date_de_delivrance_du_passeport__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Date_de_peremption_du_passeport__c</objectFieldReference>
                </fields>
                <fields>
                    <name>photo_Passeport</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Passeport </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg, .PDF</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getContact.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Format_passeport</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 13px;&quot;&gt;Formats autorisés pour le passeport &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;: Jpeg, Pdf&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ecran_Test</name>
        <label>Test</label>
        <locationX>528</locationX>
        <locationY>2003</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>cr_ation_de_test</targetReference>
        </connector>
        <fields>
            <name>ecran_Test_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ecran_Test_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Test_de_management</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Test de management</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_de_test</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de test</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin</name>
        <label>Fin</label>
        <locationX>564</locationX>
        <locationY>2456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Merci</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; font-family: sans-serif;&quot;&gt;Merci, votre candidature a bien été soumise. Vous pouvez désormais la retrouver dans &quot;Mes dossiers de candidature&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Financement</name>
        <label>Financement</label>
        <locationX>646</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createDossierdeCandidature</targetReference>
        </connector>
        <fields>
            <name>Financement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Financement_personnel</name>
                    <dataType>Currency</dataType>
                    <fieldText>Financement personnel</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Financement_entreprise</name>
                    <dataType>Currency</dataType>
                    <fieldText>Financement entreprise</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Compte_personnel_de_formation</name>
                    <dataType>Currency</dataType>
                    <fieldText>Compte personnel de formation (CPF)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>liens_vers_le_site_du_CPF</name>
                    <dataType>String</dataType>
                    <fieldText>Lien vers le site du CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mobilisation_CPF</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Comptez-vous mobiliser votre CPF dans le financement de votre formation?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Quel_est_le_montant_CPF_mobilis_en_TTC</name>
                    <dataType>Currency</dataType>
                    <fieldText>Quel est le montant CPF mobilisé en €TTC?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mobilisation_CPF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Financement_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financement_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bourse_CROUS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Bourse CROUS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financement_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>demande_de_bourse_individuelle</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Demande de bourse individuelle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informations_du_candidat</name>
        <label>Informations du candidat</label>
        <locationX>416</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Coordonnees</targetReference>
        </connector>
        <fields>
            <name>Titre_etat_civil</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pour débuter votre candidature, veuillez renseigner les champs ci-dessous :&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Informations_du_candidat_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_du_candidat_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SIS_Civilite</name>
                    <choiceReferences>SEL_civilite</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Civilité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SIS_Nom</name>
                    <dataType>String</dataType>
                    <fieldText>Nom</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SIS_Prenom</name>
                    <dataType>String</dataType>
                    <fieldText>Prénom</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>mention_complementaire</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; color: rgb(36, 36, 36); font-size: 10px;&quot;&gt;Merci de renseigner les nom et prénom tel que mentionnés sur votre pièce d&apos;identité﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Informations_du_candidat_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_du_candidat_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Pronom_d_usage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Prenom_d_usage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_Nom_d_usage__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informations_du_candidat_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_du_candidat_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.Birthdate</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.Lieu_de_naissance__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informations_du_candidat_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_du_candidat_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nationalite1</name>
                    <choiceReferences>SEL_nationalite1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nationalité 1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nationalit2</name>
                    <choiceReferences>Nationalite_2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nationalité 2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informations_du_candidat_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_du_candidat_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>getContact.SIS_INE__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_du_candidat_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Linkedin</name>
                    <dataType>String</dataType>
                    <fieldText>Linkedin</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>URL_Site_personnel</name>
                    <dataType>String</dataType>
                    <fieldText>Site personnel</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Langues</name>
        <label>Langues</label>
        <locationX>584</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createLanguedecontact</targetReference>
        </connector>
        <fields>
            <name>Languesducandidat</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Quelles langues parlez-vous ? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Langues_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Langues_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LST_Langue_liste</name>
                    <choiceReferences>LST_langue_pays</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Langue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Langues_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Languematernelle</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Langue Maternelle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Langues_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Langues_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Test1</name>
                    <choiceReferences>Test</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Test de langue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_de_tests</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de test</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Langues_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Maitriselinguistique1</name>
                    <choiceReferences>MaitriseLinguistique</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Maitrise linguistique</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Languematernelle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Programme</name>
        <label>Programme</label>
        <locationX>706</locationX>
        <locationY>1611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Programmeinformation</targetReference>
        </connector>
        <fields>
            <name>Programmechoisi</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;A quel programme postulez-vous ? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>programmedemande1</name>
            <choiceReferences>programmedemande</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Titreemailparent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dans le cadre du Global BBA, veuillez renseigner les champs suivants : &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>programmedemande1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Global BBA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Programme_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Programme_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emailparent1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email parent 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programmedemande1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Global BBA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Programme_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailParent2</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email parent 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>programmedemande1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Global BBA</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Programmeinformation</name>
        <label>Programmeinformation</label>
        <locationX>369</locationX>
        <locationY>1711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountProgramme</targetReference>
        </connector>
        <fields>
            <name>Programmeinformation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Programmeinformation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campus</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SIS_Campus__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Campus</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>hed__Application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Programmeinformation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SIS_Program_Plan__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Session</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>hed__Application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sejour_linguistique</name>
        <label>Séjour linguistique</label>
        <locationX>584</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createSejourLinguistique</targetReference>
        </connector>
        <fields>
            <name>Sejourlinguistique</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Veuillez renseigner vos séjours linguistiques :&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sejour_linguistique_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sejour_linguistique_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_debut_de_sejour</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de début de séjour</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sejour_linguistique_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_fin_de_sejour</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de fin de séjour</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LST_Pays_langue</name>
                    <choiceReferences>LST_pays</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Sauvegarder et suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>villetest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
