force-app/main/default/flows/Generation_Syllabus_Create_Course_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttributionBlankCourseSkill</name>
        <label>AttributionBlankCourseSkill</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Outcome_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Button_Navigation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionCourseSkill</name>
        <label>AttributionCourseSkill</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Outcome_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Etiquette_Texte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCourseSkill</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter / Modifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours,Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Came_From_Boolean_Start</name>
        <label>Came_From_Boolean_Start</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetNewCourseSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Came_From_Boolean_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_Decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Ask_Question</targetReference>
            </connector>
            <label>Came_From_Boolean_Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Blank_Skill</name>
        <label>Decision_Blank_Skill</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>AttributionCourseSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Etiquette_Texte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Button_Navigation</targetReference>
            </connector>
            <label>IsBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Button_Navigation</name>
        <label>Decision_Button_Navigation</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_Decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Modalite</targetReference>
            </connector>
            <label>Next_Step</label>
        </rules>
        <rules>
            <name>Previous_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_Decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Previous_Step</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetNewCourseSkills</targetReference>
            </connector>
            <label>Nouveau</label>
        </rules>
        <rules>
            <name>Came_from_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_Decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <label>Came_from_decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete</name>
        <label>Decision_Delete</label>
        <locationX>424</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>GetNewCourseSkills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Delete_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Decided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supprimer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseSkills_Delete</targetReference>
            </connector>
            <label>Delete_Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionGetCourseSkills</name>
        <label>DecisionGetCourseSkills</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ScreenCourseSkillCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseSkills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseSkills</targetReference>
            </connector>
            <label>HasCourseSkills</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SIS_After_this_course_participants_are_able_to</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_After_this_course_participants_are_able_to}</expression>
    </formulas>
    <formulas>
        <name>SIS_Competencies_acquired_during_this_course</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Competencies_acquired_during_this_course}</expression>
    </formulas>
    <interviewLabel>[Generation Syllabus]Create Course Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation Syllabus]Create Course Skills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCourseSkill</name>
        <label>CreateCourseSkill</label>
        <locationX>666</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>AttributionBlankCourseSkill</targetReference>
        </connector>
        <inputReference>CourseSkill</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Skills</name>
        <label>Delete_Skills</label>
        <locationX>292</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GetNewCourseSkills</targetReference>
        </connector>
        <inputReference>SkillsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCourseSkills</name>
        <label>GetCourseSkills</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Came_From_Boolean_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Skills__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCourseSkills</name>
        <label>GetNewCourseSkills</label>
        <locationX>578</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetCourseSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Skills__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Ask_Question</name>
        <label>Screen_Ask_Question</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Delete</targetReference>
        </connector>
        <fields>
            <name>Ask_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quelle action souhaitez vous réaliser ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Decided</name>
            <choiceReferences>Supprimer</choiceReferences>
            <choiceReferences>Ajouter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseSkillCreation</name>
        <label>ScreenCourseSkillCreation</label>
        <locationX>578</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Blank_Skill</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseSkillCreation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseSkillCreation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_2</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les compétences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseSkillCreation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>texte2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 6 : Ajouter les compétences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TextScreenCreateCourseSkill</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_are_able_to}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Etiquette_Texte</name>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Button_Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Enregistrer et nouveau&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseSkills</name>
        <label>ScreenCourseSkills</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCourseSkillCreation</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseSkills_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseSkills_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les compétences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseSkills_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>texte</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 6 : Ajouter les compétences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenSIS_Competencies_acquired_during_this_course</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Competencies_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TextScreenCourseSkills</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_are_able_to}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DatatableCourseSkills</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Course_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Course_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SIS_Label__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:89, SIS_Label__c:715</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetNewCourseSkills</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseSkills_Delete</name>
        <label>ScreenCourseSkills_Delete</label>
        <locationX>292</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Skills</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseSkills_Delete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseSkills_Delete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les compétences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseSkills_Delete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_texte</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 6 : Ajouter les compétences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_ScreenSIS_Competencies_acquired_during_this_course</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Competencies_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_TextScreenCourseSkills</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_are_able_to}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_DatatableCourseSkills</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Course_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Course_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetCourseSkills</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Label__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Label__c:715</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SkillsToDelete</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Modalite</name>
        <label>Step_Modalite</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <flowName>Generation_Syllabus_Creation_modalite_et_liaison_competences</flowName>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Came_from_Decision_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CourseSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>SkillsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
</Flow>
