force-app/main/default/flows/Generation_Syllabus_Creation_modalite_et_liaison_competences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribution_Blank</name>
        <label>Attribution_Blank</label>
        <locationX>226</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Evaluation_Method_Create.SIS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_Method_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_Method_Create.SIS_Coefficient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evaluation_Method_Create.SIS_Evaluation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection</name>
        <label>Attribution_Collection</label>
        <locationX>314</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>lst_Assignements_a_creer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_Assignement_a_creer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Datatable_Delection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection_Competence</name>
        <label>Attribution_Collection_Competence</label>
        <locationX>314</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Get_Competences_Cours</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Competence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Competence</name>
        <label>Attribution_Competence</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>lv_Competences_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assignements.SIS_Course_Skill__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Competence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Id</name>
        <label>Attribution_Id</label>
        <locationX>314</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>lv_Assignement_a_creer.SIS_Course_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Datatable_Delection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Assignement_a_creer.SIS_Assessment_Method_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modalite_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_New_Description</name>
        <label>Attribution_New_Description</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Record_Id.SIS_Course_Evaluation_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modalites_Rich_Text.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter / Modifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours,Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Action</name>
        <label>Decision_Action</label>
        <locationX>424</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_New_Evaluation_Methods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Decided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supprimer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Existing_Methods_To_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_From_Boolean</name>
        <label>Decision_From_Boolean</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_New_Evaluation_Methods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Came_Boolean_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Ask_Action</targetReference>
            </connector>
            <label>Came_Boolean_Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Has_Evaluation_Methods</name>
        <label>Decision_Has_Evaluation_Methods</label>
        <locationX>578</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Screen_Method_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Evaluation_Methods</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Existing_Methods</targetReference>
            </connector>
            <label>Has_evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Next</name>
        <label>Decision_Next</label>
        <locationX>578</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Associer_Competences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Evaluation_Method</targetReference>
            </connector>
            <label>Associer_Competences</label>
        </rules>
        <rules>
            <name>PreviousStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <label>PreviousStep</label>
        </rules>
        <rules>
            <name>NextStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigation_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NextStep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Evaluation_Method_Create.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Next_Step</targetReference>
            </connector>
            <label>NextStep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Next_Step</name>
        <label>Decision_Next_Step</label>
        <locationX>578</locationX>
        <locationY>4214</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Sequence</targetReference>
            </connector>
            <label>Next_Step</label>
        </rules>
        <rules>
            <name>Previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Previous</label>
        </rules>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Evaluation_Methods</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Came_boolean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigation_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextStep</elementReference>
                </rightValue>
            </conditions>
            <label>Came_boolean</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Generation Syllabus]Creation modalite et liaison competences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation Syllabus]Creation modalite et liaison competences</label>
    <loops>
        <name>Loop_Assignements</name>
        <label>Loop_Assignements</label>
        <locationX>226</locationX>
        <locationY>2846</locationY>
        <collectionReference>Get_Assignements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Competence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Competence_Attribution</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Datatable_Delection</name>
        <label>Loop_Datatable_Delection</label>
        <locationX>226</locationX>
        <locationY>3542</locationY>
        <collectionReference>Collection_Datatable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assignements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assignements</name>
        <label>Create_Assignements</label>
        <locationX>226</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>Decision_Next_Step</targetReference>
        </connector>
        <inputReference>lst_Assignements_a_creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Evaluation_Method</name>
        <label>Create_Evaluation_Method</label>
        <locationX>226</locationX>
        <locationY>2246</locationY>
        <assignRecordIdToReference>Modalite_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Attribution_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Evaluation_Method_Create.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Coefficient__c</field>
            <value>
                <elementReference>Evaluation_Method_Create.SIS_Coefficient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Course_Offering__c</field>
            <value>
                <elementReference>Record_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Description__c</field>
            <value>
                <elementReference>Evaluation_Method_Create.SIS_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Evaluation_Type__c</field>
            <value>
                <elementReference>Evaluation_Method_Create.SIS_Evaluation_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Evaluation_methods__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Methodes</name>
        <label>Delete_Methodes</label>
        <locationX>292</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_New_Evaluation_Methods</targetReference>
        </connector>
        <inputReference>Methods_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assignements</name>
        <label>Get_Assignements</label>
        <locationX>226</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Assessment_Method_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Modalite_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Assessment_Method_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competence</name>
        <label>Get_Competence</label>
        <locationX>314</locationX>
        <locationY>3086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Collection_Competence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lv_Competences_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competences_Cours</name>
        <label>Get_Competences_Cours</label>
        <locationX>226</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get_Course_Offering</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Course_Modification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Method</name>
        <label>Get_Created_Method</label>
        <locationX>226</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Competences_Cours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Modalite_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Evaluation_methods__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Evaluation_Methods</name>
        <label>Get_Evaluation_Methods</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_From_Boolean</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Evaluation_methods__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Evaluation_Methods</name>
        <label>Get_New_Evaluation_Methods</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Evaluation_Methods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Evaluation_methods__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update_Course_Offering</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Evaluation_Methods</targetReference>
        </connector>
        <inputReference>Record_Id</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Ask_Action</name>
        <label>Screen_Ask_Action</label>
        <locationX>424</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Action</targetReference>
        </connector>
        <fields>
            <name>Ask_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quelle action souhaitez vous réaliser ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Decided</name>
            <choiceReferences>Supprimer</choiceReferences>
            <choiceReferences>Ajouter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Competence_Attribution</name>
        <label>Screen_Competence_Attribution</label>
        <locationX>226</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Datatable_Delection</targetReference>
        </connector>
        <fields>
            <name>Screen_Competence_Attribution_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Competence_Attribution_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_3</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les modalités d&apos;évaluation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Competence_Attribution_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 7 : Ajouter les modalités d&apos;évaluation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Datatable_Choix_Competences</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Course_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Course_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Competences_Cours</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Label__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Label__c:587</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Collection_Datatable</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Navigation_Button_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Enregistrer et nouvelle modalité&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Course_Modification</name>
        <label>Screen_Course_Modification</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attribution_New_Description</targetReference>
        </connector>
        <fields>
            <name>Screen_Course_Modification_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Course_Modification_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_First</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les modalités d&apos;évaluation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Course_Modification_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 7 : Ajouter les modalités d&apos;évaluation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Texte_Descriptif</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Texte de description des modalités d&apos;évaluation&lt;/strong&gt; (section 6 du syllabus).&lt;/p&gt;&lt;p&gt;La saisie des modalités d&apos;évaluation se réalise à l&apos;étape suivante.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Modalites_Rich_Text</name>
                    <extensionName>c:inputRichTextFSC_LWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Record_Id.SIS_Course_Evaluation_Description__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Existing_Methods</name>
        <label>Screen_Existing_Methods</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Method_Creation</targetReference>
        </connector>
        <fields>
            <name>Screen_Existing_Methods_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Existing_Methods_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les modalités d&apos;évaluation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Existing_Methods_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 7 : Ajouter les modalités d&apos;évaluation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Evaluation_Methods</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Modalités d&apos;évaluation :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DatatableEvaluation_Methods</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Evaluation_methods__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Evaluation_methods__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SIS_Evaluation_Type__c,SIS_Description__c,SIS_Coefficient__c,SIS_List_Skills__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:186, SIS_Evaluation_Type__c:144, SIS_Description__c:302, SIS_Coefficient__c:105, SIS_List_Skills__c:206</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_New_Evaluation_Methods</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Existing_Methods_To_Delete</name>
        <label>Screen_Existing_Methods_To_Delete</label>
        <locationX>292</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Methodes</targetReference>
        </connector>
        <fields>
            <name>Screen_Existing_Methods_To_Delete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Existing_Methods_To_Delete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les modalités d&apos;évaluation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Existing_Methods_To_Delete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_titre2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 7 : Ajouter les modalités d&apos;évaluation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_Evaluation_Methods</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Modalités d&apos;évaluation :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_DatatableEvaluation_Methods</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Evaluation_methods__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Evaluation_methods__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Evaluation_Methods</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SIS_Evaluation_Type__c,SIS_Description__c,SIS_Coefficient__c,SIS_List_Skills__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:186, SIS_Evaluation_Type__c:144, SIS_Description__c:302, SIS_Coefficient__c:105, SIS_List_Skills__c:206</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Methods_to_delete</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Method_Creation</name>
        <label>Screen_Method_Creation</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Next</targetReference>
        </connector>
        <fields>
            <name>Screen_Method_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Method_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_bar_dynamic</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les modalités d&apos;évaluation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Method_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 7 : Ajouter les modalités d&apos;évaluation&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Evaluation_Method_Create.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Evaluation_Method_Create.SIS_Evaluation_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Evaluation_Method_Create.SIS_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Evaluation_Method_Create.SIS_Coefficient__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>navigation_Button</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Associer les compétences&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:link&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;NextStep&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Sequence</name>
        <label>Step_Sequence</label>
        <locationX>50</locationX>
        <locationY>4334</locationY>
        <flowName>Generation_Syllabus_Creation_Sequence_et_association_Ressource</flowName>
        <inputAssignments>
            <name>Record_Course_Id</name>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Came_from_decision_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Collection_Datatable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>Created_Method</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Evaluation_methods__c</objectType>
    </variables>
    <variables>
        <name>Evaluation_Method_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Evaluation_methods__c</objectType>
    </variables>
    <variables>
        <name>lst_Assignements_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Assessment_Method_Assignment__c</objectType>
    </variables>
    <variables>
        <name>lv_Assignement_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Assessment_Method_Assignment__c</objectType>
    </variables>
    <variables>
        <name>lv_Competences_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Methods_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Evaluation_methods__c</objectType>
    </variables>
    <variables>
        <name>Modalite_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
