force-app/main/default/flows/Generation_Syllabus_Create_Course_Knowledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttributionBlankCourseKnowledge</name>
        <label>AttributionBlankCourseKnowledge</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Outcome_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Desicion_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionCourseKnowledge</name>
        <label>AttributionCourseKnowledge</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Outcome_Type__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Connaissance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseKnowledge.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Competence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCourseKnowledge</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter / modifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours,Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Came_From_Boolean</name>
        <label>Came_From_Boolean</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetNewCourseKnowledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Came_From_Boolean_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Ask_Question</targetReference>
            </connector>
            <label>Came_From_Boolean_Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Add_Or_Delete</name>
        <label>Decision_Add_Or_Delete</label>
        <locationX>424</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>GetNewCourseKnowledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Needed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supprimer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseKnowledge_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Null</name>
        <label>Decision_Is_Null</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>AttributionCourseKnowledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Description_Competence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desicion_Step</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionGetCourseKnowledge</name>
        <label>DecisionGetCourseKnowledge</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ScreenCourseKnowledgeCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseKnowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseKnowledge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseKnowledge</targetReference>
            </connector>
            <label>HasCourseKnowledge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desicion_Step</name>
        <label>Desicion_Step</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Next_step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Course_Skill</targetReference>
            </connector>
            <label>Next_step</label>
        </rules>
        <rules>
            <name>Previous_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Previous_Step</label>
        </rules>
        <rules>
            <name>New_Knowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetNewCourseKnowledge</targetReference>
            </connector>
            <label>New_Knowledge</label>
        </rules>
        <rules>
            <name>Came_from_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Button_Navigation.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <label>Came_from_decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SIS_After_this_course_participants_know</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_After_this_course_participants_know}</expression>
    </formulas>
    <formulas>
        <name>SIS_Knowledge_acquired_during_this_course</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Knowledge_acquired_during_the_course}</expression>
    </formulas>
    <interviewLabel>[Generation_Syllabus]Create_Course_Knowledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation_Syllabus]Create_Course_Knowledge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCourseKnowledge</name>
        <label>CreateCourseKnowledge</label>
        <locationX>666</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>AttributionBlankCourseKnowledge</targetReference>
        </connector>
        <inputReference>CourseKnowledge</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Knowledge</name>
        <label>Delete_Knowledge</label>
        <locationX>292</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GetNewCourseKnowledge</targetReference>
        </connector>
        <inputReference>Skills_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCourseKnowledge</name>
        <label>GetCourseKnowledge</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Came_From_Boolean</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connaissance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCourseKnowledge</name>
        <label>GetNewCourseKnowledge</label>
        <locationX>578</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetCourseKnowledge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connaissance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Ask_Question</name>
        <label>Screen_Ask_Question</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Add_Or_Delete</targetReference>
        </connector>
        <fields>
            <name>Ask_Delete_Or_Add</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quelle action souhaitez vous réaliser ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Needed</name>
            <choiceReferences>Supprimer</choiceReferences>
            <choiceReferences>Ajouter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseKnowledge</name>
        <label>ScreenCourseKnowledge</label>
        <locationX>446</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCourseKnowledgeCreation</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseKnowledge_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseKnowledge_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les connaissances du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseKnowledge_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 5 : Ajouter les connaissances du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ScreenSIS_Knowledge_acquired_during_this_course</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Knowledge_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TextScreenCourseKnowledge</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_know}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DatatableCourseKnowledge</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Course_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Course_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SIS_Label__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:88, SIS_Label__c:715</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetNewCourseKnowledge</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseKnowledge_Delete</name>
        <label>ScreenCourseKnowledge_Delete</label>
        <locationX>292</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Knowledge</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseKnowledge_Delete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseKnowledge_Delete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_Progress_bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les connaissances du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseKnowledge_Delete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_titre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 5 : Ajouter les connaissances du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_ScreenSIS_Knowledge_acquired_during_this_course</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Knowledge_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_TextScreenCourseKnowledge</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_know}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_DatatableCourseKnowledge</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Course_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Course_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetCourseKnowledge</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Label__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Label__c:715</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Skills_to_delete</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseKnowledgeCreation</name>
        <label>ScreenCourseKnowledgeCreation</label>
        <locationX>578</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Is_Null</targetReference>
        </connector>
        <fields>
            <name>ScreenCourseKnowledgeCreation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenCourseKnowledgeCreation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_2</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les connaissances du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenCourseKnowledgeCreation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ttitre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 5 : Ajouter les connaissances du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>TextScreenCreateCourseKnowledge</name>
                    <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_know}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Description_Competence</name>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Saisissez l&apos;intitulé de la connaissance.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Button_Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Enregistrer et nouveau&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseKnowledge</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Course_Skill</name>
        <label>Step_Course_Skill</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <flowName>Generation_Syllabus_Create_Course_Skills</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Came_from_decision_boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CourseKnowledge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>Skills_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
</Flow>
