force-app/main/default/flows/Generation_Syllabus_Ajouter_des_ressources_bibliographiques.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribution_Resource_Sequence</name>
        <label>Attribution_Resource_Sequence</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Resource_Sequence_A_Creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Course_Offering.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Sequence_A_Creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ressource_Created.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Sequence_A_Creer.Lien_de_la_ressource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ressource_Created.SIS_Ressource_link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Sequence_A_Creer.SIS_Ressource_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ressource_Created.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Resource_Jonction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Resource_To_Create</name>
        <label>Attribution_Resource_To_Create</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Ressource_a_creer.SIS_Ressource_link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ressource</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter / Modifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours,Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Came_From_Boolean</name>
        <label>Decision_Came_From_Boolean</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_New_Resource_Sequences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Came_Boolean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_From_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Ask_Action</targetReference>
            </connector>
            <label>Came_Boolean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Want_Create_New_Resource</name>
        <label>Decision_Want_Create_New_Resource</label>
        <locationX>336</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Screen_End_Of_Course_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Want_New_Resource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Want_Add_New_Resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_New_Resource</targetReference>
            </connector>
            <label>Want_New_Resource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Want_New</name>
        <label>Decision_Want_New</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Screen_End_Of_Course_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Want_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voulez_vous_ajouter_une_nouvelle_ressource_bibliographique</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_New_Resource_Sequences</targetReference>
            </connector>
            <label>Want_New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_delete</name>
        <label>Want_to_delete</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_New_Resource_Sequences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Delete_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supprimer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Datatable_Ressources_Sequence_to_delete</targetReference>
            </connector>
            <label>Delete_Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Generation Syllabus]Ajouter des ressources bibliographiques {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation Syllabus]Ajouter des ressources bibliographiques</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Resource_Jonction</name>
        <label>Create_New_Resource_Jonction</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Want_New_Resource_Again</targetReference>
        </connector>
        <inputReference>Resource_Sequence_A_Creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ressource</name>
        <label>Create_Ressource</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignRecordIdToReference>Created_Ressource_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Ressource_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ressource_a_creer.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Description__c</field>
            <value>
                <elementReference>Ressource_a_creer.SIS_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Ressource_link__c</field>
            <value>
                <elementReference>Ressource_a_creer.SIS_Ressource_link__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Bibliography__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Ressources</name>
        <label>Delete_Ressources</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Get_New_Resource_Sequences</targetReference>
        </connector>
        <inputReference>Ressources_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get_Course_Offering</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Resource_Sequences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Course_Offering.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Resource_Sequences</name>
        <label>Get_New_Resource_Sequences</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Datatable_Ressources_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Offering.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Sequence_ressource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Sequences</name>
        <label>Get_Resource_Sequences</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Came_From_Boolean</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Offering.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Sequence_ressource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressource_Created</name>
        <label>Get_Ressource_Created</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Resource_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Created_Ressource_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Ask_Action</name>
        <label>Screen_Ask_Action</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Want_to_delete</targetReference>
        </connector>
        <fields>
            <name>Ask_Texte</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quelle action souhaitez vous réaliser ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Selection</name>
            <choiceReferences>Supprimer</choiceReferences>
            <choiceReferences>Ajouter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Datatable_Ressources_Sequence</name>
        <label>Screen_Datatable_Ressources_Sequence</label>
        <locationX>336</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Want_Create_New_Resource</targetReference>
        </connector>
        <fields>
            <name>Screen_Datatable_Ressources_Sequence_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Datatable_Ressources_Sequence_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_1</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les ressources bibliographiques</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Datatable_Ressources_Sequence_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>texte</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 9 : Ajouter des ressources bibliographiques&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Datatable_Resources</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Sequence_ressource__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Sequence_ressource__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Ressource_Name__c,Lien_de_la_ressource__c,SIS_Sequence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Ressource_Name__c:271, Lien_de_la_ressource__c:278, SIS_Sequence__c:270</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_New_Resource_Sequences</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Want_Add_New_Resource</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Souhaitez-vous ajouter une nouvelle ressource ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Datatable_Ressources_Sequence_to_delete</name>
        <label>Screen_Datatable_Ressources_Sequence_to_delete</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Ressources</targetReference>
        </connector>
        <fields>
            <name>Screen_Datatable_Ressources_Sequence_to_delete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Datatable_Ressources_Sequence_to_delete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_Progress_Bar_1</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les ressources bibliographiques</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Datatable_Ressources_Sequence_to_delete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_texte</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 9 : Ajouter des ressources bibliographiques&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_Datatable_Resources</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Sequence_ressource__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Sequence_ressource__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Resource_Sequences</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Ressource_Name__c,Lien_de_la_ressource__c,SIS_Sequence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Ressource_Name__c:271, Lien_de_la_ressource__c:278, SIS_Sequence__c:270</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Ressources_to_delete</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_End_Of_Course_Creation</name>
        <label>Screen_End_Of_Course_Creation</label>
        <locationX>336</locationX>
        <locationY>2762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_End_Of_Creation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Le processus de création du cours est terminé.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous pouvez générer le brouillon du syllabus en utilisant la fenêtre à droite et ajuster les éléments en utilisant le bouton &quot;Reprendre le Syllabus&quot; en haut à droite puis en sélectionnant l&apos;étape de votre choix.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour soumettre le cours en approbation au CPP, appuyez sur le bouton correspondant en haut à droite de la page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_New_Resource</name>
        <label>Screen_New_Resource</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attribution_Resource_To_Create</targetReference>
        </connector>
        <fields>
            <name>Screen_New_Resource_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_New_Resource_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_2</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les ressources bibliographiques</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Resource_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>textee</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 9 : Ajouter des ressources bibliographiques&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ressource_a_creer.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ressource_a_creer.SIS_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>URL</name>
                    <dataType>String</dataType>
                    <fieldText>URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Want_New_Resource_Again</name>
        <label>Want_New_Resource_Again</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Want_New</targetReference>
        </connector>
        <fields>
            <name>Want_New_Resource_Again_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Want_New_Resource_Again_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_New</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les ressources bibliographiques</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Want_New_Resource_Again_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>te</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 9 : Ajouter des ressources bibliographiques&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Voulez_vous_ajouter_une_nouvelle_ressource_bibliographique</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Voulez-vous ajouter une nouvelle ressource bibliographique ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Came_From_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Created_Ressource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Course_Offering</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>Resource_Sequence_A_Creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>Ressource_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
    <variables>
        <name>Ressources_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
</Flow>
