force-app/main/default/flows/Generation_Syllabus_Creation_Sequence_et_association_Ressource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribution_Blank</name>
        <label>Attribution_Blank</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Sequence_To_Create.SIS_Sequence_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sequence_To_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sequence_To_Create.SIS_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sequence_To_Create.Format__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sequence_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection</name>
        <label>Attribution_Collection</label>
        <locationX>270</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>Get_Ressources_Bibliographiques</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Ressource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Sequences_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection_Sequence_Resource</name>
        <label>Attribution_Collection_Sequence_Resource</label>
        <locationX>138</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>lst_Sequence_Resource_A_Creer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_Ressource_Sequence_A_Creer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Datatable_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Description</name>
        <label>Attribution_Description</label>
        <locationX>600</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Record_Course_Id.SIS_Course_Sequence_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sequence_Rich_Text.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Id</name>
        <label>Attribution_Id</label>
        <locationX>138</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Datatable_Selection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.SIS_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sequence_Created_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Collection_Sequence_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Jonction_Ressource</name>
        <label>Attribution_Jonction_Ressource</label>
        <locationX>314</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_Biblio_a_creer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.SIS_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sequence_Created_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_A_Creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Jonction_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Resource_Id</name>
        <label>Attribution_Resource_Id</label>
        <locationX>270</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>lv_ressource_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Sequences_Resources.SIS_Ressource_bibliographique__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Ressource</name>
        <label>Attribution_Ressource</label>
        <locationX>314</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>Ressource_Biblio_a_creer.SIS_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_Biblio_a_creer.SIS_Ressource_link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ressource_Biblio</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ajouter</name>
        <choiceText>Ajouter / Modifier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supprimer</name>
        <choiceText>Supprimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supprimer</stringValue>
        </value>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours,Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Came_From_Boolean_Flow</name>
        <label>Came_From_Boolean_Flow</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_New_Course_Sequence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Came_From_Boolean_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Ask_Question</targetReference>
            </connector>
            <label>Came_From_Boolean_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Delete_Or_Create</name>
        <label>Decision_Delete_Or_Create</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_New_Course_Sequence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Want_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Supprimer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Existing_Sequences_To_Delete</targetReference>
            </connector>
            <label>Want_to_delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Next</name>
        <label>Decision_Next</label>
        <locationX>600</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Sequence_Creation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sequence</targetReference>
            </connector>
            <label>Next</label>
        </rules>
        <rules>
            <name>Previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Sequence_Creation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <label>Previous</label>
        </rules>
        <rules>
            <name>EndOfStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Button_Sequence_Creation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NextStep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sequence_To_Create.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Step</targetReference>
            </connector>
            <label>EndOfStep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Selected_Ressource</name>
        <label>Decision_Selected_Ressource</label>
        <locationX>182</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Screen_Creation_Ressource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Selected_Ressource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creer_Nouvelle_Ressource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Datatable_Ressources_Collection</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loop_Datatable_Selection</targetReference>
            </connector>
            <label>Has_Selected_Ressource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Step</name>
        <label>Decision_Step</label>
        <locationX>600</locationX>
        <locationY>4574</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Nextstep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Add_Ressources</targetReference>
            </connector>
            <label>Nextstep</label>
        </rules>
        <rules>
            <name>PreviousStep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>PreviousStep</label>
        </rules>
        <rules>
            <name>NewResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_New_Course_Sequence</targetReference>
            </connector>
            <label>NewResource</label>
        </rules>
        <rules>
            <name>Came_from_boolean</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Navigation_Button_Bar.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Button_Sequence_Creation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NextStep</stringValue>
                </rightValue>
            </conditions>
            <label>Came_from_boolean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Sequence</name>
        <label>Has_Sequence</label>
        <locationX>600</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Screen_Sequence_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Has_Sequence_to_show</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Sequence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Existing_Sequences</targetReference>
            </connector>
            <label>Has Sequence To Show</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Label_Create_New_Resource</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Create_New_Ressource_Label}</expression>
    </formulas>
    <interviewLabel>[Generation Syllabus] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation Syllabus]Creation Sequence et association Ressource</label>
    <loops>
        <name>loop_Datatable_Selection</name>
        <label>loop_Datatable_Selection</label>
        <locationX>50</locationX>
        <locationY>3662</locationY>
        <collectionReference>Datatable_Ressources_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sequence_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Sequences_Resources</name>
        <label>loop_Sequences_Resources</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <collectionReference>Get_Ressource_Sequences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Resource_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Ressources_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Jonction_Resource</name>
        <label>Create_Jonction_Resource</label>
        <locationX>314</locationX>
        <locationY>4142</locationY>
        <connector>
            <targetReference>Screen_Ask_Create_New</targetReference>
        </connector>
        <inputReference>lv_Ressource_Sequence_A_Creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ressource_Biblio</name>
        <label>Create_Ressource_Biblio</label>
        <locationX>314</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>Attribution_Jonction_Ressource</targetReference>
        </connector>
        <inputReference>Ressource_Biblio_a_creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sequence</name>
        <label>Create_Sequence</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <assignRecordIdToReference>Sequence_Created_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Attribution_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Format__c</field>
            <value>
                <elementReference>Sequence_To_Create.Format__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Sequence_To_Create.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Sequence_Course_Offering__c</field>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Sequence_Description__c</field>
            <value>
                <elementReference>Sequence_To_Create.SIS_Sequence_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Sequence_Number__c</field>
            <value>
                <elementReference>Sequence_To_Create.SIS_Sequence_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Course_Sequence__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sequence_Resource</name>
        <label>Create_Sequence_Resource</label>
        <locationX>50</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Screen_Ask_Create_New</targetReference>
        </connector>
        <inputReference>lst_Sequence_Resource_A_Creer</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Sequences</name>
        <label>Delete_Sequences</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_New_Course_Sequence</targetReference>
        </connector>
        <inputReference>Sequences_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get_Course_Offering</label>
        <locationX>600</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Modification_Description_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Sequence</name>
        <label>Get_Course_Sequence</label>
        <locationX>600</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Came_From_Boolean_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Sequence_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Course_Sequence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Course_Sequence</name>
        <label>Get_New_Course_Sequence</label>
        <locationX>600</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Sequence_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Course_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Course_Sequence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressource</name>
        <label>Get_Ressource</label>
        <locationX>270</locationX>
        <locationY>3086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lv_ressource_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressource_Sequences</name>
        <label>Get_Ressource_Sequences</label>
        <locationX>182</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Sequences_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sequence_Created_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Sequence_ressource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressources_Bibliographiques</name>
        <label>Get_Ressources_Bibliographiques</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ressource_Sequences</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sequence_Created</name>
        <label>Get_Sequence_Created</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ressources_Bibliographiques</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sequence_Created_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Course_Sequence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update_Course_Offering</label>
        <locationX>600</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Course_Sequence</targetReference>
        </connector>
        <inputReference>Record_Course_Id</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_Ask_Create_New</name>
        <label>Screen_Ask_Create_New</label>
        <locationX>182</locationX>
        <locationY>4358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Step</targetReference>
        </connector>
        <fields>
            <name>Screen_Ask_Create_New_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Ask_Create_New_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_4</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Ask_Create_New_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Ask_Create_New_Ressource</name>
                    <fieldText>&lt;h2&gt;{!Label_Create_New_Resource}&lt;/h2&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Navigation_Button_Bar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Etape précédente&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Créer nouvelle ressource&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Ask_Question</name>
        <label>Screen_Ask_Question</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Delete_Or_Create</targetReference>
        </connector>
        <fields>
            <name>Text_Ask</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quelle action souhaitez vous réaliser ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_Action</name>
            <choiceReferences>Supprimer</choiceReferences>
            <choiceReferences>Ajouter</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Creation_Ressource</name>
        <label>Screen_Creation_Ressource</label>
        <locationX>314</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attribution_Ressource</targetReference>
        </connector>
        <fields>
            <name>Screen_Creation_Ressource_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Creation_Ressource_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progression</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Creation_Ressource_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ressource_Biblio_a_creer.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Ressource_Biblio_a_creer.SIS_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>URL</name>
                    <dataType>String</dataType>
                    <fieldText>URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Existing_Sequences</name>
        <label>Screen_Existing_Sequences</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Sequence_Creation</targetReference>
        </connector>
        <fields>
            <name>Screen_Existing_Sequences_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Existing_Sequences_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Existing_Sequences_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sequences</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Séquences du cours :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Datatable_Sequences</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Course_Sequence__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Course_Sequence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Sequence_Number__c,Name,Format__c,SIS_Sequence_Description__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Sequence_Number__c:52, Name:225, Format__c:184, SIS_Sequence_Description__c:493</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_New_Course_Sequence</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>SIS_Sequence_Number__c:N°</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Existing_Sequences_To_Delete</name>
        <label>Screen_Existing_Sequences_To_Delete</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Sequences</targetReference>
        </connector>
        <fields>
            <name>Screen_Existing_Sequences_To_Delete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Existing_Sequences_To_Delete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_Progress_Bar</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Existing_Sequences_To_Delete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copier_1_sur_titre2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_Sequences</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Séquences du cours :&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copier_1_sur_Datatable_Sequences</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Course_Sequence__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Course_Sequence__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Course_Sequence</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Sequence_Number__c,Name,Format__c,SIS_Sequence_Description__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Sequence_Number__c:58, Name:225, Format__c:184, SIS_Sequence_Description__c:455</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Sequences_to_delete</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Modification_Description_Sequence</name>
        <label>Screen_Modification_Description_Sequence</label>
        <locationX>600</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attribution_Description</targetReference>
        </connector>
        <fields>
            <name>Screen_Modification_Description_Sequence_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Modification_Description_Sequence_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_New</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Modification_Description_Sequence_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Texte_Description</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Texte de description des séquences et activités d&apos;apprentissage&lt;/strong&gt; (section 7 du syllabus).&lt;/p&gt;&lt;p&gt;La saisie des séquences du cours se réalise à l&apos;étape suivante.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Sequence_Rich_Text</name>
                    <extensionName>c:inputRichTextFSC_LWC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Record_Course_Id.SIS_Course_Sequence_Description__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Ressources_Available</name>
        <label>Screen_Ressources_Available</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Selected_Ressource</targetReference>
        </connector>
        <fields>
            <name>Screen_Ressources_Available_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Ressources_Available_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_3</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Ressources_Available_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>texte2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Screen_Datatable_Ressources</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Bibliography__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Bibliography__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Ressources_Bibliographiques</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SIS_Ressource_link__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>Name_lookup:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:329, SIS_Ressource_link__c:539</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxNumberOfRows</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Datatable_Ressources_Collection</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Creer_Nouvelle_Ressource</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$Label.SIS_Create_New_Ressource_Label}</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Sequence_Creation</name>
        <label>Screen_Sequence_Creation</label>
        <locationX>600</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Next</targetReference>
        </connector>
        <fields>
            <name>Screen_Sequence_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Sequence_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_Bar_2</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Ajouter les séquences du cours</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Sequence_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>texte</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 8 : Ajouter les séquences du cours&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Sequence_To_Create.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Sequence_To_Create.SIS_Sequence_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Sequence_To_Create.Format__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Sequence_To_Create.SIS_Sequence_Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Button_Sequence_Creation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Associer les ressources&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:link&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;NextStep&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Add_Ressources</name>
        <label>Step_Add_Ressources</label>
        <locationX>72</locationX>
        <locationY>4694</locationY>
        <flowName>Generation_Syllabus_Ajouter_des_ressources_bibliographiques</flowName>
        <inputAssignments>
            <name>Record_Course_Offering</name>
            <value>
                <elementReference>Record_Course_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Came_from_decision_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Datatable_Ressources_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
    <variables>
        <name>lst_Sequence_Resource_A_Creer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>lv_ressource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lv_Ressource_Sequence_A_Creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>Record_Course_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>Ressource_Biblio_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
    <variables>
        <name>Sequence_Created_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sequence_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Course_Sequence__c</objectType>
    </variables>
    <variables>
        <name>Sequences_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Course_Sequence__c</objectType>
    </variables>
</Flow>
