force-app/main/default/flows/Generation_Syllabus_Attribuer_les_LO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddQuotesToSelectedSkillsId</name>
        <label>AddQuotesToSelectedSkillsId</label>
        <locationX>776</locationX>
        <locationY>3614</locationY>
        <actionName>AddQuotesToFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DecisionExistingSkill_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCollection</name>
            <value>
                <elementReference>SelectedSkillsId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>AddQuoteToExistingSkillsId_0</name>
        <label>AddQuoteToExistingSkillsId</label>
        <locationX>1806</locationX>
        <locationY>1190</locationY>
        <actionName>AddQuotesToFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetPlanRequirement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldCollection</name>
            <value>
                <elementReference>ExistingSkillsId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CustomQueryCourseSkillsToDelete</name>
        <label>CustomQueryCourseSkillsToDelete</label>
        <locationX>644</locationX>
        <locationY>4094</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CustomQueryCourseSkillsToUpdate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Course_Skill__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>TextTemplateMySOQLCourseSkillsToDelete</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CustomQueryCourseSkillsToUpdate</name>
        <label>CustomQueryCourseSkillsToUpdate</label>
        <locationX>644</locationX>
        <locationY>4214</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DecisionSkillsToCreate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Course_Skill__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>TextTemplateMySOQLCourseSkillsToUpdate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CustomQuerySkillsToCreate</name>
        <label>CustomQuerySkillsToCreate</label>
        <locationX>644</locationX>
        <locationY>3854</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AttributionSkilltoCreate</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>SIS_Skill__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>TextTemplateMySOQLSkillsToCreate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttributionCourseSkillsTocreate</name>
        <label>AttributionCourseSkillsTocreate</label>
        <locationX>710</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>CourseSkillsTocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CourseSkillTocreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoucleSkillsToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionCourseSkillTocreate</name>
        <label>AttributionCourseSkillTocreate</label>
        <locationX>710</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>CourseSkillTocreate.SIS_Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseSkillTocreate.SIS_Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoucleSkillsToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttributionCourseSkillsTocreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionExistingSkills</name>
        <label>AttributionExistingSkills</label>
        <locationX>1918</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ExistingSkills</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetExistingSkills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttributionExistingSkillsId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionExistingSkillsId</name>
        <label>AttributionExistingSkillsId</label>
        <locationX>1918</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ExistingSkillsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoucleCourseSkills.SIS_Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoucleCourseSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSelectedSkills_0_0</name>
        <label>AttributionSelectedSkills</label>
        <locationX>864</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>SelectedSkillsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoucleOutputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoucleOutputSelectedRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSkillFamily</name>
        <label>AttributionSkillFamily</label>
        <locationX>1715</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>SkillFamilyAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSkillFamilyAssignement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BouclePlanRequirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSkillsToChooseFrom</name>
        <label>AttributionSkillsToChooseFrom</label>
        <locationX>1268</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>SkillsToChooseFrom</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetSkillsFromFamily</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoucleSkillFamilyAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSkillToChooseFromAndUpdate</name>
        <label>AttributionSkillToChooseFromAndUpdate</label>
        <locationX>1180</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>SkillsToChooseFrom</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ExistingSkills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionSkillsToChooseFrom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSkilltoCreate</name>
        <label>AttributionSkilltoCreate</label>
        <locationX>644</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>SkillToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomQuerySkillsToCreate.sObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CustomQueryCourseSkillsToDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionSkilltoCreate_0</name>
        <label>AttributionSkilltoCreate</label>
        <locationX>908</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>SkillToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SkillsDatatable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionSkillsToCreate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Id</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ajouter les LO</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Créer des heures d&apos;apprentissage</stringValue>
        </value>
    </constants>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le cours,Associer les LO,Ajout des heures d&apos;apprentissage,Compléter les objectifs pédagogiques,Ajouter les connaissances du cours,Ajouter les compétences du cours,Ajouter les modalités d&apos;évaluation,Ajouter les séquences du cours, Ajouter les ressources bibliographiques</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Previous_Next_Step</name>
        <label>Decision_Previous_Next_Step</label>
        <locationX>446</locationX>
        <locationY>6014</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Next_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suivant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_Learning_Hour</targetReference>
            </connector>
            <label>Next_Step</label>
        </rules>
        <rules>
            <name>Previous_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons_Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Previous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Previous_Step</label>
        </rules>
        <rules>
            <name>Came_from_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Came_from_decision_boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Came_from_decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionCourseSkillsTocreate</name>
        <label>DecisionCourseSkillsTocreate</label>
        <locationX>622</locationX>
        <locationY>5006</locationY>
        <defaultConnector>
            <targetReference>DecisionSkillsToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseSkillsTocreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CourseSkillsTocreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCourseSkillsTocreate</targetReference>
            </connector>
            <label>HasCourseSkillsTocreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionCourseSkillToUpdate</name>
        <label>DecisionCourseSkillToUpdate</label>
        <locationX>776</locationX>
        <locationY>5774</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseSkillToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomQueryCourseSkillsToUpdate.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCourseSkillToUpdate</targetReference>
            </connector>
            <label>HasCourseSkillToUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionExistingSkill</name>
        <label>DecisionExistingSkill</label>
        <locationX>1938</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>GetPlanRequirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasExistingSkill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddQuoteToExistingSkillsId_0</targetReference>
            </connector>
            <label>HasExistingSkill</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionExistingSkill_0</name>
        <label>DecisionExistingSkill</label>
        <locationX>1502</locationX>
        <locationY>3278</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasExistingSkill_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingCourseSkills</targetReference>
            </connector>
            <label>HasExistingSkill</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionExistingSkill_0_0</name>
        <label>DecisionExistingSkill</label>
        <locationX>776</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>AttributionSkilltoCreate_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasExistingSkill_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomQuerySkillsToCreate</targetReference>
            </connector>
            <label>HasExistingSkill</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionGetCourseSkills</name>
        <label>DecisionGetCourseSkills</label>
        <locationX>1938</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>DecisionExistingSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseSkills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoucleCourseSkills</targetReference>
            </connector>
            <label>HasCourseSkills</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionGetPlanRequirement</name>
        <label>DecisionGetPlanRequirement</label>
        <locationX>1938</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>ScreenNoLO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasPlanRequirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPlanRequirement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BouclePlanRequirement</targetReference>
            </connector>
            <label>HasPlanRequirement</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMax3RowSelected</name>
        <label>DecisionMax3RowSelected</label>
        <locationX>462</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>DecisionOutputSelectedRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>MoreThan3RowSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillsDatatable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>LGLOScreen</targetReference>
            </connector>
            <label>MoreThan3RowSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionOutputSelectedRow</name>
        <label>DecisionOutputSelectedRow</label>
        <locationX>1139</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>DecisionExistingSkill_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasOutputSelectedRows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillsDatatable.outputSelectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoucleOutputSelectedRow</targetReference>
            </connector>
            <label>HasOutputSelectedRows</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSkillFamilyAssignment</name>
        <label>DecisionSkillFamilyAssignment</label>
        <locationX>1627</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>ScreenNoLO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasSkillFamilyAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillFamilyAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoucleSkillFamilyAssignment</targetReference>
            </connector>
            <label>HasSkillFamilyAssignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSkillsToChooseFrom</name>
        <label>DecisionSkillsToChooseFrom</label>
        <locationX>1180</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>ScreenNoLO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasSkillsToPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillsToChooseFrom</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LGLOScreen</targetReference>
            </connector>
            <label>HasSkillsToPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSkillsToCreate</name>
        <label>DecisionSkillsToCreate</label>
        <locationX>776</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>DecisionSkillsToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasSkillsToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoucleSkillsToCreate</targetReference>
            </connector>
            <label>HasSkillsToCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSkillsToDelete</name>
        <label>DecisionSkillsToDelete</label>
        <locationX>776</locationX>
        <locationY>5438</locationY>
        <defaultConnector>
            <targetReference>DecisionCourseSkillToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasSkillsToDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomQueryCourseSkillsToDelete.sObjects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCourseSkillsToDelete</targetReference>
            </connector>
            <label>HasSkillsToDelete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Generation_Syllabus]Attribuer les LO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Generation_Syllabus]Attribuer les LO</label>
    <loops>
        <name>BoucleCourseSkills</name>
        <label>BoucleCourseSkills</label>
        <locationX>1830</locationX>
        <locationY>398</locationY>
        <collectionReference>GetCourseSkills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetExistingSkills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionExistingSkill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BoucleOutputSelectedRow</name>
        <label>BoucleOutputSelectedRow</label>
        <locationX>776</locationX>
        <locationY>3278</locationY>
        <collectionReference>SkillsDatatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AttributionSelectedSkills_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddQuotesToSelectedSkillsId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BouclePlanRequirement</name>
        <label>BouclePlanRequirement</label>
        <locationX>1627</locationX>
        <locationY>1646</locationY>
        <collectionReference>GetPlanRequirement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSkillFamilyAssignement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionSkillFamilyAssignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BoucleSkillFamilyAssignment</name>
        <label>BoucleSkillFamilyAssignment</label>
        <locationX>1180</locationX>
        <locationY>2222</locationY>
        <collectionReference>SkillFamilyAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSkillsFromFamily</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AttributionSkillToChooseFromAndUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BoucleSkillsToCreate</name>
        <label>BoucleSkillsToCreate</label>
        <locationX>622</locationX>
        <locationY>4550</locationY>
        <collectionReference>SkillToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AttributionCourseSkillTocreate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionCourseSkillsTocreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCourseSkillsTocreate</name>
        <label>CreateCourseSkillsTocreate</label>
        <locationX>490</locationX>
        <locationY>5126</locationY>
        <connector>
            <targetReference>DecisionSkillsToDelete</targetReference>
        </connector>
        <inputReference>CourseSkillsTocreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteCourseSkillsToDelete</name>
        <label>DeleteCourseSkillsToDelete</label>
        <locationX>644</locationX>
        <locationY>5558</locationY>
        <connector>
            <targetReference>DecisionCourseSkillToUpdate</targetReference>
        </connector>
        <inputReference>CustomQueryCourseSkillsToDelete.sObjects</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteExistingCourseSkills</name>
        <label>DeleteExistingCourseSkills</label>
        <locationX>1370</locationX>
        <locationY>3398</locationY>
        <inputReference>GetCourseSkills</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCourseSkills</name>
        <label>GetCourseSkills</label>
        <locationX>1938</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetCourseSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Learning Goal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Skills__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingSkills</name>
        <label>GetExistingSkills</label>
        <locationX>1918</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttributionExistingSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BoucleCourseSkills.SIS_Skills__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlanRequirement</name>
        <label>GetPlanRequirement</label>
        <locationX>1938</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetPlanRequirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.hed__Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Plan_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSkillFamilyAssignement</name>
        <label>GetSkillFamilyAssignement</label>
        <locationX>1715</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttributionSkillFamily</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BouclePlanRequirement.hed__Program_Plan__r.hed__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Skills_Family_Assignments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSkillsFromFamily</name>
        <label>GetSkillsFromFamily</label>
        <locationX>1268</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttributionSkillsToChooseFrom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Skills_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BoucleSkillFamilyAssignment.SIS_Skills_Family__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCourseSkillToUpdate</name>
        <label>UpdateCourseSkillToUpdate</label>
        <locationX>446</locationX>
        <locationY>5894</locationY>
        <connector>
            <targetReference>Decision_Previous_Next_Step</targetReference>
        </connector>
        <inputReference>CustomQueryCourseSkillsToUpdate.sObjects</inputReference>
    </recordUpdates>
    <screens>
        <name>LGLOScreen</name>
        <label>Programme Learning Goals and Objectives</label>
        <locationX>462</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecisionMax3RowSelected</targetReference>
        </connector>
        <fields>
            <name>LGLOScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LGLOScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Progress_bar_step_2</name>
                    <extensionName>c:DynamicFlowProgress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>stepList</name>
                        <value>
                            <elementReference>Steps</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>currentStep</name>
                        <value>
                            <stringValue>Associer les LO</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>indicatorType</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LGLOScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>titre</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape 2 : Attribuer les LO&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LGLOTextScreen</name>
                    <fieldText>&lt;p&gt;Sélectionnez jusqu&apos;à 3 Learning Objectives auxquels ce cours correspond le plus. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SkillsDatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>SIS_Skill__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>SIS_Skill__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>SIS_Objective_FR__c,SIS_Description__c,Learning_Goal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>SIS_Objective_FR__c:467, SIS_Description__c:462, Learning_Goal__c:147</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>SIS_Objective_FR__c:true, SIS_Description__c:true, Learning_Goal__c:false</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRowNumbers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>SkillsToChooseFrom</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preSelectedRows</name>
                        <value>
                            <elementReference>ExistingSkills</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Buttons_Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Etape précédente&quot;,&quot;value&quot;:&quot;Previous&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Etape suivante&quot;,&quot;value&quot;:&quot;Suivant&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenNoLO</name>
        <label>ScreenNoLO</label>
        <locationX>1938</locationX>
        <locationY>7046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextNoLO</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Attention :&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;C&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;e cours n&apos;est pas associé à une structure pédagogique,&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ou l&lt;/span&gt;e(s) programme(s) des structures pédagogiques associées à ce cours ne disposent pas actuellement de Learning Goals.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1812</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Step_Learning_Hour</name>
        <label>Step_Learning_Hour</label>
        <locationX>50</locationX>
        <locationY>6134</locationY>
        <flowName>Generation_Syllabus_Create_Learning_Hour</flowName>
        <inputAssignments>
            <name>RecordId_Course</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TextTemplateMySOQLCourseSkillsToDelete</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id
FROM Course_Skill__c
WHERE SIS_Course_Offering__c = &apos;{!recordId.Id}&apos;
AND SIS_Skills__c IN ({!AddQuoteToExistingSkillsId_0.fieldString})
AND SIS_Skills__c NOT IN ({!AddQuotesToSelectedSkillsId.fieldString})</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplateMySOQLCourseSkillsToUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id
FROM Course_Skill__c
WHERE SIS_Course_Offering__c = &apos;{!recordId.Id}&apos;
AND SIS_Skills__c IN ({!AddQuoteToExistingSkillsId_0.fieldString})
AND SIS_Skills__c IN ({!AddQuotesToSelectedSkillsId.fieldString})</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplateMySOQLSkillsToCreate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SELECT Id
FROM SIS_Skill__c
WHERE Id IN ({!AddQuotesToSelectedSkillsId.fieldString})
AND Id NOT IN ({!AddQuoteToExistingSkillsId_0.fieldString})</text>
    </textTemplates>
    <variables>
        <name>Came_from_decision_boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CourseSkillsTocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>CourseSkillsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>CourseSkillTocreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>CourseSkillToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>ExistingSkills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skill__c</objectType>
    </variables>
    <variables>
        <name>ExistingSkillsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>SelectedSkillsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillFamilyAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skills_Family_Assignments__c</objectType>
    </variables>
    <variables>
        <name>SkillsToChooseFrom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skill__c</objectType>
    </variables>
    <variables>
        <name>SkillsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skill__c</objectType>
    </variables>
    <variables>
        <name>SkillsToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skill__c</objectType>
    </variables>
    <variables>
        <name>SkillToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Skill__c</objectType>
    </variables>
</Flow>
