force-app/main/default/flows/MAJ_du_champ_Pays_sur_Piste_depuis_Pardot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Permet de remplir les champs  Adresse_Pays__c et Country depuis le champ TECH_pays_Pardot__c</description>
    <interviewLabel>MAJ du champ Pays sur Piste depuis Pardot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAJ du champ Pays sur Piste depuis Pardot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>On récupère la valeurs pays (texte) transmise par Pardot pour faire une requête pour récupérer l&apos;id de l&apos;enregistrement sf Pays__c correspondant</description>
        <name>Recherche_id_du_pays_dans_sf</name>
        <label>Recherche id du pays dans sf</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAJ_du_champ_lookup_Pays_c_sur_la_piste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TECH_pays_Pardot__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pays__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>On remplit le champ avec l&apos;id récupéré précédemment</description>
        <name>MAJ_du_champ_lookup_Pays_c_sur_la_piste</name>
        <label>MAJ du champ lookup Pays--c sur la piste</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Adresse_Pays__c</field>
            <value>
                <elementReference>Recherche_id_du_pays_dans_sf.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Recherche_id_du_pays_dans_sf.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recherche_id_du_pays_dans_sf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_pays_Pardot__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
