force-app/main/default/flows/Modalite_Evaluation_Suppression_competence_champ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribute_Skill_Label</name>
        <label>Attribute_Skill_Label</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>All_Skills</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_All_Assignements.SIS_Course_Skill__r.SIS_Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Skills</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_All_Assignements</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Ajout saut de ligne</description>
        <name>conGCES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <description>Flux complémentaire à celui affichant les compétences dans le champ sur les modalités d&apos;évaluation.
Ce flux met à jour le champ quand une compétence (via l&apos;objet de jonction Assignement des Modalités d&apos;Evaluation) est supprimée</description>
    <environments>Default</environments>
    <formulas>
        <name>All_Skills_Without_Last_Separator</name>
        <dataType>String</dataType>
        <expression>LEFT ( {!All_Skills}, LEN ( {!All_Skills} ) - 2)</expression>
    </formulas>
    <formulas>
        <name>Formule_RetourLigne</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>[Modalité Evaluation] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Modalité Evaluation]Suppression compétence champ</label>
    <loops>
        <name>loop_All_Assignements</name>
        <label>loop_All_Assignements</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Assignements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribute_Skill_Label</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Modalite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignements</name>
        <label>Get Assignements</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_All_Assignements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Assessment_Method_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIS_Assessment_Method_Assignment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Assessment_Method_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Modalite</name>
        <label>Update_Modalite</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIS_Assessment_Method_Assignment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_List_Skills__c</field>
            <value>
                <elementReference>All_Skills_Without_Last_Separator</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Evaluation_methods__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignements</targetReference>
        </connector>
        <object>SIS_Assessment_Method_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Skills</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
