force-app/main/default/flows/Modele_de_cours_Update_de_la_categorie_pedagogique_des_cours_enfants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Attribution_Code_Pedagogique</name>
        <label>Attribution_Code_Pedagogique</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>loop_Course_Offering_Children.SIS_Pedagogical_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SIS_Pedagogical_Category_code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection</name>
        <label>Attribution_Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>lst_Course_Offering_to_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Course_Offering_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Course_Offering_Children</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Modele de cours]Update de la catégorie pédagogique des cours enfants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Modele de cours]Update de la catégorie pédagogique des cours enfants</label>
    <loops>
        <name>loop_Course_Offering_Children</name>
        <label>loop_Course_Offering_Children</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Course_Offering_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Code_Pedagogique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Course_Offering_Children</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Offering_Children</name>
        <label>Get_Course_Offering_Children</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Course_Offering_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering_Children</name>
        <label>Update_Course_Offering_Children</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>lst_Course_Offering_to_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Offering_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Pedagogical_Category_code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Pedagogical_Category_code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lst_Course_Offering_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>lv_Course</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
