force-app/main/default/flows/Modele_De_Cours_Update_Niveau_Avancement_du_Syllabus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribution_collection</name>
        <label>Attribution_collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>lst_Collection_Cours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_Cours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Cours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Non_applicable</name>
        <label>Attribution_Non_applicable</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>lv_Cours.SIS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Cours.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Cours.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Modèle_De_Cours]Update_Niveau_Avancement_du_Syllabus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Modèle_De_Cours]Update_Niveau_Avancement_du_Syllabus</label>
    <loops>
        <name>loop_Cours</name>
        <label>loop_Cours</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_Cours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Non_applicable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Cours</name>
        <label>get_Cours</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Cours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cours</name>
        <label>Update_Cours</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>lst_Collection_Cours</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Cours</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Syllabus_required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>lst_Collection_Cours</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>lv_Cours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
