force-app/main/default/flows/Notification_Confirmation_Inscription_FC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notifier_le_contact_Par_mail</name>
        <label>Notifier le contact Par mail</label>
        <locationX>290</locationX>
        <locationY>715</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>formationscourtes@eml-executive.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Destinataires</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Destinataires</name>
        <label>Assigner des Destinataires</label>
        <locationX>1318</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>Destinataires</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lecture_des_informations_contact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinataires</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>formationscourtes@eml-executive.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Destinataires</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>coordination-formationscourtes@em-lyon.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lecture_des_informations_produit_opportunite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nb_Utilisateur_Trouv</name>
        <label>Nb Utilisateur Trouvé</label>
        <locationX>852</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>UserFoundInGroup</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Lire_Membre_Groupe_FC_Notifications_Inscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>V_rifier_si_utilisateur_est_membre_du_groupe_FC_Notifications_Inscriptions</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Expediteur</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;contact-fc@eml-executive.com&quot;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>V_rifier_si_utilisateur_est_membre_du_groupe_FC_Notifications_Inscriptions</name>
        <label>Vérifier si utilisateur est membre du groupe FC_Notifications_Inscriptions</label>
        <locationX>888</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Est_membre_du_groupe_FC_Notifications_Inscriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserFoundInGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lecture_des_informations_contact</targetReference>
            </connector>
            <label>Est membre du groupe FC_Notifications_Inscriptions</label>
        </rules>
    </decisions>
    <formulas>
        <name>civilite</name>
        <dataType>String</dataType>
        <expression>IF(TRIM(TEXT({!Lecture_des_informations_contact.Salutation}))=&quot;M&quot;,&quot;M.&quot;,TEXT({!Lecture_des_informations_contact.Salutation}))</expression>
    </formulas>
    <formulas>
        <name>Langue</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!Lecture_de_la_session.Code_Agresso_Session_formation__c}, 2),&quot;FR&quot;,&quot;Français&quot;,&quot;EN&quot;,&quot;English&quot;,&quot;CH&quot;,&quot;Chinese&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>lieu_formation</name>
        <dataType>String</dataType>
        <expression>CASE({!Lecture_de_la_session.Lieu_ls__c},&quot;SF-LS10&quot;,&quot;Campus emlyon Ecully, 23 avenue Guy de Collongue, 69130 Ecully&quot;, &quot;SF-LS20&quot;, &quot;Campus emlyon Paris, 15 boulevard Diderot, 75012 Paris &quot;,&quot;SF-LS70&quot;,&quot;Online&quot;,&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>Logo</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;img src=&apos;https://arpege-emlyon--c.eu43.visual.force.com/resource/1636556390000/logo_executive_education&apos; alt=&apos;logo emlyon executive education&apos;/&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>Salutation</name>
        <dataType>String</dataType>
        <expression>CASE({!Lecture_des_informations_contact.Salutation},&quot;M&quot;, &quot;Cher&quot;,&quot;Mme&quot;, &quot;Chère&quot;,TEXT({!Lecture_des_informations_contact.Salutation}))</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Confirmation d&apos;inscription : &quot; &amp; {!$Record.Name} &amp; &quot; - emlyon executive education&quot;</expression>
    </formulas>
    <interviewLabel>Notification Confirmation Inscription FC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification Confirmation Inscription FC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lecture_de_la_session</name>
        <label>Lecture de la session</label>
        <locationX>692</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notifier_le_contact_Par_mail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lecture_des_informations_produit_opportunite.Session_de_formation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lecture_des_informations_contact</name>
        <label>Lecture des informations contact</label>
        <locationX>1075</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Destinataires</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_central__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lecture_des_informations_produit_opportunite</name>
        <label>Lecture des informations produit d&apos;opportunité</label>
        <locationX>1060</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lecture_de_la_session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_produit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Selection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Session_de_formation__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lire_Informations_Groupe</name>
        <label>Lire Informations Groupe</label>
        <locationX>476</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lire_Membre_Groupe_FC_Notifications_Inscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FC_Notifications_Inscriptions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lire_Informations_Utilisateur</name>
        <label>Lire Informations Utilisateur</label>
        <locationX>544</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lire_Informations_Groupe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lire_Membre_Groupe_FC_Notifications_Inscriptions</name>
        <label>Lire Membre Groupe FC_Notifications_Inscriptions</label>
        <locationX>730</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nb_Utilisateur_Trouv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lire_Informations_Groupe.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lire_Informations_Utilisateur.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lire_Informations_Utilisateur</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inscrit</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012w00000003BJSAA2</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>corps de texte de l&apos;email</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://arpege-emlyon--c.eu43.content.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0686900000g6rbM&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T6900002DYNVw&amp;amp;page=0&amp;amp;d=/a/69000001i7Gm/tV6c.JY6v8FU.XzuGEgmk5GPZN_umtvCXuiVvIeEn3U&amp;amp;oid=00Dw0000000Cp11&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;logo_executive_education&quot; class=&quot;pageImg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!civilite} {!Lecture_des_informations_contact.FirstName} {!Lecture_des_informations_contact.LastName},&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Nous avons le plaisir de vous confirmer l’inscription au module &lt;b&gt;{!Lecture_de_la_session.Produits__r.Name} &lt;/b&gt;comme suit :&lt;/p&gt;&lt;p&gt;Participant&amp;nbsp;: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!civilite}&lt;/b&gt;&lt;b&gt; {!Lecture_des_informations_contact.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Dates de formation&amp;nbsp;:&amp;nbsp;&lt;b&gt;du {!Lecture_de_la_session.Date_de_debut_de_session__c} au {!Lecture_de_la_session.Date_de_fin_de_session__c} &lt;/b&gt;(l&lt;i&gt;es dates définitives seront confirmées par le service de coordination pédagogique)&lt;/i&gt;&lt;/p&gt;&lt;p&gt;Lieu : {!lieu_formation}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Langue d&apos;enseignement : {!Langue}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Vos contacts&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;→ &lt;/b&gt;&lt;b&gt;Convention&amp;nbsp;et facturation : &lt;/b&gt;&lt;a href=&quot;mailto:adv@eml-executive.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;adv@eml-executive.com&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;→ &lt;/b&gt;&lt;b&gt;Coordination Formations Courtes&lt;/b&gt;&amp;nbsp;: &lt;a href=&quot;mailto:coordination-formationscourtes@em-lyon.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;coordination-formationscourtes@em-lyon.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;La coordinatrice pédagogique référente de votre formation va vous contacter très prochainement afin de vous communiquer toutes les informations de rentrée&amp;nbsp;(outils, horaires, convocation, etc.)&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: Calibri, sans-serif;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;L’Équipe Formations Courtes vous souhaite la bienvenue&amp;nbsp;!&lt;/p&gt;&lt;p&gt;Offre complète Formations Courtes&amp;nbsp;: &lt;a href=&quot;https://executive.em-lyon.com/Formations/Certificats&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://executive.em-lyon.com/Formations/Certificats&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://executive.em-lyon.com/Desabonnement-emailing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Vous souhaitez ne plus recevoir d&apos;email&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Destinataires</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserFoundInGroup</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
