force-app/main/default/flows/Resource_Creation_nouvelle_ressource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribution_New_Resource</name>
        <label>Attribution_New_Resource</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Ressource_a_creer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_Ressource_Bibliographique.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_a_creer.SIS_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cours.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_a_creer.SIS_Ressource_link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_Ressource_a_creer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_a_creer.SIS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lv_Ressource_Bibliographique.SIS_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionNameRessourceEmpty</name>
        <label>AttributionNameRessourceEmpty</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Bibliographique.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Bibliographique.SIS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Create_New_Resource</targetReference>
        </connector>
    </assignments>
    <description>Flux d&apos;écran de création d&apos;une nouvelle ressource. Ce flux d&apos;écran sera ajouté à la page de cours via un bouton / action.
Une fois ce flux activé, cela crée automatiquement un enregistrement dans l&apos;objet de jonction Sequence Resource via le flux correspondant.</description>
    <environments>Default</environments>
    <interviewLabel>[Resource]Creation nouvelle ressource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Resource]Creation nouvelle ressource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Resource</name>
        <label>Create_New_Resource</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>AttributionNameRessourceEmpty</targetReference>
        </connector>
        <inputReference>Ressource_a_creer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cours</name>
        <label>Get_Cours</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Create_New_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Create_New_Resource</name>
        <label>Screen_Create_New_Resource</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_New_Resource</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>lv_Ressource_Bibliographique.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>lv_Ressource_Bibliographique.SIS_Description__c</objectFieldReference>
        </fields>
        <fields>
            <name>URL_Ressource_a_creer</name>
            <dataType>String</dataType>
            <fieldText>URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lv_Ressource_Bibliographique</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ressource_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
</Flow>
