force-app/main/default/flows/Ressource_biblio_Creation_jonction_associee_la_ressource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribution_Ressource_to_Sequence_Ressource</name>
        <label>Attribution_Ressource_to_Sequence_Ressource</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>lv_Sequence_Ressource_A_Creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SIS_Course__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Sequence_Ressource_A_Creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sequence_Ressource</targetReference>
        </connector>
    </assignments>
    <description>Flux permettant de créer une séquence de ressource associée à la ressource bibliographique.
Cela permet de les avoir dans un seul tableau dans Gonexa.</description>
    <environments>Default</environments>
    <interviewLabel>[Ressource biblio] Creation jonction associée à la ressource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Ressource biblio] Creation jonction associée à la ressource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sequence_Ressource</name>
        <label>Create_Sequence_Ressource</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>lv_Sequence_Ressource_A_Creer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ressource_Created</name>
        <label>Get_Ressource_Created</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Ressource_to_Sequence_Ressource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ressource_Created</targetReference>
        </connector>
        <object>SIS_Bibliography__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lv_Sequence_Ressource_A_Creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
</Flow>
