force-app/main/default/flows/Sequence_Ajouter_des_ressources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribution_Collection_Sequence_Ressource</name>
        <label>Attribution_Collection_Sequence_Ressource</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>lst_Sequence_Ressource_A_Creer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_Ressource_Sequence_a_creer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Datatable_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Collection_Sequences</name>
        <label>Attribution_Collection_Sequences</label>
        <locationX>468</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Get_Ressources_Bibliographiques</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Get_Ressource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Sequences_Ressources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Id</name>
        <label>Attribution_Id</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Datatable_Selection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sequence_Cours.SIS_Sequence_Course_Offering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Collection_Sequence_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Jonction_Ressource_A_Creer</name>
        <label>Attribution_Jonction_Ressource_A_Creer</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_Bibliographique.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sequence_Cours.SIS_Sequence_Course_Offering__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Jonction_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Ressource</name>
        <label>Attribution_Ressource</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sequence_Cours.SIS_Sequence_Course_Offering__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Ressource_link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_Texte_Ressource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Ressource_Bibliographique</name>
        <label>Attribution_Ressource_Bibliographique</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sequence_Cours.SIS_Sequence_Course_Offering__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Ressource_link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>URL_Texte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Ressource_Bibliographique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Ressource_Id</name>
        <label>Attribution_Ressource_Id</label>
        <locationX>468</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Sequences_Ressources.SIS_Ressource_bibliographique__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Sequence_Ressource_A_Creer</name>
        <label>Attribution_Sequence_Ressource_A_Creer</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_Bibliographique.SIS_Course__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lv_Ressource_Sequence_a_creer.SIS_Ressource_bibliographique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ressource_Bibliographique.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sequence_Ressource_from_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionBlankLabels</name>
        <label>AttributionBlankLabels</label>
        <locationX>578</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Creation_Ressource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionBlankLabelsForCreationScreen</name>
        <label>AttributionBlankLabelsForCreationScreen</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ressource_Bibliographique.SIS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Create_New_Ressource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Sequences_selectionnees</name>
        <label>Decision_Sequences_selectionnees</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Screen_Creation_Ressource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasSelectRessource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creer_une_nouvelle_ressource_coche</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Datatable_Ressources_Collection</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loop_Datatable_Selection</targetReference>
            </connector>
            <label>HasSelectRessource</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Screen_Ask_New_Ressource_Creation</name>
        <label>Result_Screen_Ask_New_Ressource_Creation</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Want_to_create_new_ressource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creer_une_nouvelle_ressource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Create_New_Ressource</targetReference>
            </connector>
            <label>Want_to_create_new_ressource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Label_Create_New_Resource</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Create_New_Ressource_Label}</expression>
    </formulas>
    <interviewLabel>[Sequence] Ajouter des ressources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sequence] Ajouter des ressources</label>
    <loops>
        <name>loop_Datatable_Selection</name>
        <label>loop_Datatable_Selection</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <collectionReference>Datatable_Ressources_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sequence_Ressource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Sequences_Ressources</name>
        <label>loop_Sequences_Ressources</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Ressources_Sequences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_Ressource_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_Ressources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Jonction_Ressource</name>
        <label>Create_Jonction_Ressource</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>AttributionBlankLabels</targetReference>
        </connector>
        <inputReference>lv_Ressource_Sequence_a_creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ressource</name>
        <label>Create_Ressource</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Attribution_Sequence_Ressource_A_Creer</targetReference>
        </connector>
        <inputReference>Ressource_Bibliographique</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Ressource_Bibliographique</name>
        <label>Create_Ressource_Bibliographique</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Attribution_Jonction_Ressource_A_Creer</targetReference>
        </connector>
        <inputReference>Ressource_Bibliographique</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sequence_Ressource</name>
        <label>Create_Sequence_Ressource</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Screen_Ask_Create_New_Ressource</targetReference>
        </connector>
        <inputReference>lst_Sequence_Ressource_A_Creer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Sequence_Ressource_from_Ressource</name>
        <label>Create_Sequence_Ressource_from_Ressource</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>AttributionBlankLabelsForCreationScreen</targetReference>
        </connector>
        <inputReference>lv_Ressource_Sequence_a_creer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ressource</name>
        <label>Get_Ressource</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attribution_Collection_Sequences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lv_Ressource_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressources_Bibliographiques</name>
        <label>Get_Ressources_Bibliographiques</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ressources_Sequences</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Bibliography__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ressources_Sequences</name>
        <label>Get_Ressources_Sequences</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Sequences_Ressources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Sequence_ressource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sequence_Cours</name>
        <label>Get_Sequence_Cours</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ressources_Bibliographiques</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SIS_Course_Sequence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Ask_Create_New_Ressource</name>
        <label>Screen_Ask_Create_New_Ressource</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Result_Screen_Ask_New_Ressource_Creation</targetReference>
        </connector>
        <fields>
            <name>Ask_Create_New_Ressource</name>
            <fieldText>&lt;h2&gt;{!Label_Create_New_Resource}&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Creer_une_nouvelle_ressource</name>
            <dataType>Boolean</dataType>
            <fieldText>Oui / Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_New_Ressource</name>
        <label>Screen_Create_New_Ressource</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ressource</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Ressource_Bibliographique.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Ressource_Bibliographique.SIS_Description__c</objectFieldReference>
        </fields>
        <fields>
            <name>URL_Texte_Ressource</name>
            <dataType>String</dataType>
            <fieldText>URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Creation_Ressource</name>
        <label>Screen_Creation_Ressource</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_Ressource_Bibliographique</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Ressource_Bibliographique.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Ressource_Bibliographique.SIS_Description__c</objectFieldReference>
        </fields>
        <fields>
            <name>URL_Texte</name>
            <dataType>String</dataType>
            <fieldText>URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Ressources</name>
        <label>Screen_Ressources</label>
        <locationX>380</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Sequences_selectionnees</targetReference>
        </connector>
        <fields>
            <name>Screen_Datatable_Ressources</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SIS_Bibliography__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>SIS_Bibliography__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Ressources_Bibliographiques</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,SIS_Ressource_link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:325, SIS_Ressource_link__c:325</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Datatable_Ressources_Collection</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Screen_Ressources_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Ressources_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Creer_une_nouvelle_ressource_coche</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$Label.SIS_Create_New_Ressource_Label}</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Si aucune des ressources proposées ne correspond, vous pouvez en créer une nouvelle en cochant la case correspondante.&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sequence_Cours</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Datatable_Ressources_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
    <variables>
        <name>lst_Sequence_Ressource_A_Creer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>lv_Ressource_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lv_Ressource_Sequence_a_creer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Sequence_ressource__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ressource_Bibliographique</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SIS_Bibliography__c</objectType>
    </variables>
</Flow>
