force-app/main/default/flows/Sequences_du_cours_Affichage_des_ressources_apres_suppression_d_une_jonction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribute_Ressource_Name</name>
        <label>Attribute_Ressource_Name</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>All_Ressources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_All_Ressources.SIS_Ressource_bibliographique__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>All_Ressources</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_All_Ressources</targetReference>
        </connector>
    </assignments>
    <description>Flux complémentaire à celui qui affiche les ressources sous forme de texte dans l&apos;objet Sequences du cours sur un champ caché pour l&apos;utilisateur et utilisé par Gonexa. Ce flux met à jour le champ quand un record de l&apos;objet de jonction est supprimé</description>
    <environments>Default</environments>
    <formulas>
        <name>Formule_RetourLigne</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>Ressources_Without_Last_Separator</name>
        <dataType>String</dataType>
        <expression>LEFT ( {!All_Ressources}, LEN ( {!All_Ressources} ) - 2)</expression>
    </formulas>
    <interviewLabel>[Sequences du cours]Affichage des ressources après suppression d&apos;une jonction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sequences du cours]Affichage des ressources après suppression d&apos;une jonction</label>
    <loops>
        <name>loop_All_Ressources</name>
        <label>loop_All_Ressources</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Ressources_de_la_sequence</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribute_Ressource_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sequence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ressources_de_la_sequence</name>
        <label>Get Ressources de la sequence</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_All_Ressources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIS_Sequence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SIS_Sequence_ressource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sequence</name>
        <label>Update_Sequence</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIS_Sequence__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_Sequence_Resources__c</field>
            <value>
                <elementReference>Ressources_Without_Last_Separator</elementReference>
            </value>
        </inputAssignments>
        <object>SIS_Course_Sequence__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ressources_de_la_sequence</targetReference>
        </connector>
        <object>SIS_Sequence_ressource__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Ressources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
