force-app/main/default/flows/SIS_Email_Reminder_Course_Offering.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email</name>
        <label>Send email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateCourseOffering</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>To</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X1w000000pzPyEAI</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <expression>{!GetCourseOffering.SIS_Course_Manager__c}</expression>
    </formulas>
    <formulas>
        <name>RelatedRecordId</name>
        <dataType>String</dataType>
        <expression>{!GetCourseOffering.Id}</expression>
    </formulas>
    <formulas>
        <name>ReminderPlus1</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!GetCourseOffering.SIS_Number_of_reminder__c},0)+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>To</name>
        <dataType>String</dataType>
        <expression>{!GetCourseOffering.SIS_Course_Manager__r.Email}</expression>
    </formulas>
    <interviewLabel>SIS Email reminder Course Offering {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SIS Email Reminder Course Offering</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCourseOffering</name>
        <label>GetCourseOffering</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCourseOffering</name>
        <label>UpdateCourseOffering</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseOfferingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SIS_Last_reminder__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIS_Number_of_reminder__c</field>
            <value>
                <elementReference>ReminderPlus1</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseOffering</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
