force-app/main/default/flows/SIS_Course_Skill_Creation_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AttributionBlankCourseSkill</name>
        <label>AttributionBlankCourseSkill</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCourseSkills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AttributionCourseSkill</name>
        <label>AttributionCourseSkill</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Course_Offering__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CourseSkill.SIS_Outcome_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCourseSkill</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionGetCourseSkills</name>
        <label>DecisionGetCourseSkills</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenCourseSkillCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HasCourseSkills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenCourseSkills</targetReference>
            </connector>
            <label>HasCourseSkills</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SIS_After_this_course_participants_are_able_to</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_After_this_course_participants_are_able_to}</expression>
    </formulas>
    <formulas>
        <name>SIS_Competencies_acquired_during_this_course</name>
        <dataType>String</dataType>
        <expression>{!$Label.SIS_Competencies_acquired_during_this_course}</expression>
    </formulas>
    <interviewLabel>Course Skill Creation Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Course Skill Creation Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCourseSkill</name>
        <label>CreateCourseSkill</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>AttributionBlankCourseSkill</targetReference>
        </connector>
        <inputReference>CourseSkill</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCourseSkills</name>
        <label>GetCourseSkills</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionGetCourseSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SIS_Skills__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Outcome_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compétence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Course_Skill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenCourseSkillCreation</name>
        <label>ScreenCourseSkillCreation</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AttributionCourseSkill</targetReference>
        </connector>
        <fields>
            <name>TextScreenCreateCourseSkill</name>
            <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_are_able_to}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>CourseSkill.SIS_Label__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCourseSkills</name>
        <label>ScreenCourseSkills</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenCourseSkillCreation</targetReference>
        </connector>
        <fields>
            <name>ScreenSIS_Competencies_acquired_during_this_course</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!SIS_Competencies_acquired_during_this_course}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextScreenCourseSkills</name>
            <fieldText>&lt;p&gt;{!SIS_After_this_course_participants_are_able_to}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DatatableCourseSkills</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Course_Skill__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Course_Skill__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetCourseSkills</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>SIS_Label__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>SIS_Label__c:715</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Créer compétence du cours</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCourseSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Skill__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
</Flow>
