force-app/main/default/flows/Structure_pedagogique_Modification_du_nom_des_obligations_enfants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attribution_lst_Obligations</name>
        <label>Attribution_lst_Obligations</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>lst_Obligations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lv_Obligation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Obligations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_lv_Obligation</name>
        <label>Attribution_lv_Obligation</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>lv_Obligation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Obligations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_lst_Obligations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_True_Parent_Name_Modified</name>
        <label>Attribution_True_Parent_Name_Modified</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>loop_Obligations.SIS_Parent_Name_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_lv_Obligation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Structure pédagogique] Modification du nom des obligations enfants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Structure pédagogique] Modification du nom des obligations enfants</label>
    <loops>
        <name>loop_Obligations</name>
        <label>loop_Obligations</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Obligations_Pedagogiques_Enfants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attribution_True_Parent_Name_Modified</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Obligations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Obligations_Pedagogiques_Enfants</name>
        <label>Get_Obligations_Pedagogiques_Enfants</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Obligations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Program_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>hed__Plan_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Obligations</name>
        <label>Update_Obligations</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>lst_Obligations</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Obligations_Pedagogiques_Enfants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>hed__Program_Plan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lst_Obligations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>lv_Obligation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Plan_Requirement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
