force-app/main/default/flows/Syllabus_Required_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifRpRelecture</name>
        <label>NotifRpRelecture</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Call_SIS_Email_Reminder_Course_Offering</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.SIS_Course_Manager__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>DateDuJour</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>ReminderPlus1</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!$Record.SIS_Number_of_reminder__c},0)+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Relecture &quot; +{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Syllabus Required V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Syllabus Required V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NotifRpRelecture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SIS_Tech_Syllabus_Required_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revision</stringValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIS_Course_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_SIS_Email_Reminder_Course_Offering</name>
        <label>Call SIS Email Reminder Course Offering</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <flowName>SIS_Email_Reminder_Course_Offering</flowName>
        <inputAssignments>
            <name>CourseOfferingId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
