force-app/main/default/flows/testCreaOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>ajout_Opp_existante</name>
        <label>ajout Opp existante</label>
        <locationX>869</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>collecOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nom_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>R_cup_Int_ret</name>
        <label>Récup Intéret</label>
        <locationX>171</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>Interets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAMaj.Nouvel_Int_r_t_du_contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>nb_Opp</name>
        <label>nb Opp</label>
        <locationX>451</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>aucune_opp_correspondante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collecOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nom_du_compte</targetReference>
            </connector>
            <label>aucune opp correspondante</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nom_du_compte</name>
        <label>Nom du compte</label>
        <locationX>158</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>CreaOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>etudiant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactAMaj.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etudiant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompteFI</targetReference>
            </connector>
            <label>etudiant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_pas_Opps</name>
        <label>Si pas Opps</label>
        <locationX>162</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>getOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>aucune</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nom_du_compte</targetReference>
            </connector>
            <label>aucune</label>
        </rules>
    </decisions>
    <formulas>
        <name>datederentree</name>
        <dataType>Date</dataType>
        <expression>
IF(MONTH(TODAY()) &lt; 9,
DATE(YEAR(TODAY()), 9, 1),
DATE(YEAR(TODAY() +1), 9, 1)
)</expression>
    </formulas>
    <formulas>
        <description>année +1</description>
        <name>exercice</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())+1)</expression>
    </formulas>
    <interviewLabel>testCreaOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creation Opportunité sur nouvel Intérêt</label>
    <loops>
        <name>Nom_Opp</name>
        <label>Nom Opp</label>
        <locationX>653</locationX>
        <locationY>474</locationY>
        <collectionReference>getOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ajout_Opp_existante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>nb_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreaOpp</name>
        <label>CreaOpp</label>
        <locationX>395</locationX>
        <locationY>720</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IDCompte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>datederentree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_central__c</field>
            <value>
                <elementReference>ContactAMaj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exercice__c</field>
            <value>
                <elementReference>exercice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_de_financement__c</field>
            <value>
                <stringValue>A titre individuel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Interets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Intéressé par</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CompteFI</name>
        <label>CompteFI</label>
        <locationX>172</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreaOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formation Initiale</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IDCompte</assignToReference>
            <field>x18caracteres__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>475</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nom_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Interets</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exercice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>exercice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_central__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAMaj.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opps</name>
        <label>Opps</label>
        <locationX>349</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Si_pas_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_central__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactAMaj.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>46</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>R_cup_Int_ret</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collecOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactAMaj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IDCompte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IDFormInit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Interets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
